﻿<script type="text/javascript">
    var State = '';
    var isCabangLog;
    getIsCabang();
    var Table;
    $(document).ready(function () {
        LoadDataTable();

    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../Inbox/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2, "data": null,
                                "render": function (data, type, full, meta) {
                                    return '<a href="javascript:void(0)" class="btn btn-small btn-block btn-facebook" onclick="View(' + full.id + ')" id="button-view" style="margin-right:5px;" data-toggle="tooltip" title="View Report"><i class="fa fa-download btnDownload"></i></a>'
                                }
                            },
                            { responsivePriority: 3, "data": "jenisLaporanName", "name": "jenisLaporanName" },
                            { responsivePriority: 4, "data": "laporanName", "name": "laporanName" },
                            { responsivePriority: 5, "data": "divisiPenggunaName", "name": "divisiPenggunaName" },
                            {
                                responsivePriority: 6, "data": null,
                                "render": function (data, type, row) {
                                    if (isCabangLog == 0) {
                                        return row.createdTimeString;
                                    } else {
                                        return row.laporanCreatedTimeString;
                                    }
                                }
                            },
                            {
                                responsivePriority: 7, "data": null,
                                "render": function (data, type, row) {
                                    if (isCabangLog == 0) {
                                        return row.createdByName;
                                    } else {
                                        return row.laporanCreatedByName;
                                    }
                                }
                            },
                            {
                                responsivePriority: 8, "data": null,
                                "render": function (data, type, row) {
                                    if (isCabangLog == 0) {
                                        return null;
                                    } else {
                                        return row.downloadedByName;
                                    }
                                }
                            },
                            { responsivePriority: 9, "data": "laporanStatusName", "name": "laporanStatusName" },
                            { responsivePriority: 10, "data": "keterangan", "name": "keterangan" },
                            {
                                responsivePriority: 11, "data": null,
                                "render": function (data, type, row) {
                                    if (row.inboxStatus == null || row.inboxStatus == 'Belum dibaca') {
                                        return '<b> Belum dibaca </b>';
                                    } else {
                                        return 'Sudah dibaca';
                                    }
                                }
                            }
                            

                        ],
                        "order": [[1, "desc"]]
                    });
                    if (isCabangLog == 0) {
                        Table.column(2).visible(false);
                        Table.column(3).visible(false);
                        Table.column(4).visible(false);
                        Table.column(5).visible(false);
                        Table.column(7).visible(false);
                        Table.column(8).visible(false);
                    } else {
                        Table.column(10).visible(false);
                        Table.column(6).visible(false);
                        Table.column(7).visible(false);
                        Table.column(5).visible(false);
                        Table.column(1).visible(false);
                    }

                    //alert(isCabangLog);

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#txtJns_LaporanSearchParam').val().trim());
                        Table.columns(3).search($('#txtDvs_PenggunaSearchParam').val().trim());
                        Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                        Table.columns(7).search($('#txtKewenanganSearchParam').val().trim());
                        //Table.columns(2).search($('#txtTypeSearchParam').val().trim());
                        //Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        //Table.columns(4).search($('#txtInduxSearchParam').val().trim());
                        //Table.columns(7).search($('#txtKewenanganSearchParam').val().trim());


                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtJns_LaporanSearchParam').val("");
                        $('#txtDvs_PenggunaSearchParam').val("");
                        $('#txtPeriodeSearchParam').val("");
                        $('#txtKewenanganSearchParam').val("");

                        Table.columns(2).search($('#txtJns_LaporanSearchParam').val().trim());
                        Table.columns(3).search($('#txtDvs_PenggunaSearchParam').val().trim());
                        Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                        Table.columns(7).search($('#txtKewenanganSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


    }

    function getIsCabang() {
        $.ajax({
            type: 'GET',
            url: '../Login/CekIsCabang',
            success: function (hasil) {
                isCabangLog = hasil;
            }
        });
    }

    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../BNICloud/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        ValidationForm();
                        $("#Jns_Laporan").select2({
                            tags: true
                        });
                        $("#Dvs_Pengguna").select2({
                            tags: true
                        });

                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../PengaturanLookup/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;


                        ValidationForm();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW ******************************************//
    //function View(Id) {
    //    ShowModal('bd-example-modal-lg');
    //    debugger;
    //    $.ajax({
    //        type: 'GET',
    //        url: '../Login/CekSession',
    //        success: function (hasil) {
    //            if (hasil == true) {
    //                State = "view";
    //                SearchData = { "Id": Id }
    //                UrlPartialView = '../PengaturanLookup/View';
    //                LoadPartialViewData(UrlPartialView, function (data) {
    //                    $('#DivContentBody').hide();
    //                    document.getElementById("DivFormBody").innerHTML = data;

    //                    $("#FormData :input").prop("disabled", true);

    //                }, SearchData);
    //            }
    //            else {
    //                window.location.href = "../Login/Login?a=true";
    //            }
    //        }
    //    });
    //}

    function View(Id) {
        ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "id": Id }
                    UrlPartialView = '../BNICloud_Pusat/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModalPopUp(data);

                        //$('#DivContentBody').hide();
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $.ajax({
                            type: 'GET',
                            url: '../BNICloud_Pusat/ViewDataLaporan/?id=' + Id,
                            success: function (data) {
                                /do some thing in second function/
                                //console.log(data.laporanStatusId);
                                //if (data.laporanStatusId == 1) {
                                //    $("#BtnReject").prop("disabled", true);
                                //} else {
                                //    $("#BtnReject").prop("disabled", false);
                                //}
                            },
                        });
                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

     function BtnDownload(Id) {
        console.log(Id)
        $.ajax({
            url: '@Url.Content("~/BNICloud_pusat/GetDownload/?Id=")' + Id,
            type: 'POST',
            dataType: 'json',
            success: function (hasil) {
                console.log(hasil);
                if (hasil != "") {
                    //window.open(hasil.path, '_blank');
                    //$('#BtnReject').prop('disabled', false);
                    //State = "view";
                    //SearchData = { "id": Id }
                    //UrlPartialView = '../BNICloud_pusat/GetDownload';
                    //LoadPartialViewData(UrlPartialView, function (data) {

                    //    $('#BtnReject').prop('disabled', false);

                    //}, SearchData);
                }
            }
        });
    }


    function BtnReject(Id) {
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "id": Id }
                    UrlPartialView = '../BNICloud_Pusat/Reject';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        ShowModalPopUp(data);
                        ValidationFormReject();
                        //$('#DivContentBody').hide();


                        //$("#FormData :input").prop("disabled", true);

                        //$("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    function ValidationFormReject() {
        debugger;
        //Untuk validasi form
        var $validator = $("#FormDataReject").validate({
            ignore: [],
            rules: {
                komentarReject: {
                    required: true
                }
            },
            messages: {
                komentarReject: "Harap isi field ini terlebih dahulu"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#SubmitReject').click(function () {
            debugger;
            var url = '';
            var $valid = $("#FormDataReject").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {

                swal({
                    title: "Konfirmasi",
                    text: "Apakah Anda yakin Upload Laporan tersebut?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            debugger;
                            url = '../BNICLoud_Pusat/SubmitReject';

                            var fd = $("#FormDataReject")[0];
                            $.ajax(
                                {
                                    url: url,
                                    data: new FormData(fd),
                                    mimeType: "multipart/form-data",
                                    processData: false,
                                    contentType: false,
                                    type: "POST",
                                    success: function (data) {
                                        if (data == "") {
                                            document.getElementById("FormDataReject").reset();
                                            HideModalPopUp();
                                            BackDraft();
                                            NotifikasiSukses("Sukses", "Upload Dokumen Berhasil Dilakukan!");
                                            Table.draw();
                                            //LoadDataTableTemp();
                                            //TableTemp.ajax.reload();


                                            //setTimeout(function () {
                                            //    location.href = "../DataProject/Index"
                                            //}, 1000);
                                        }
                                        else {
                                            NotifikasiError("Error", data)
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        swal("error", error, "warning");
                                    }
                                }
                            );
                        }
                    });
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Type: {
                    required: true
                },
                Name: {
                    required: true
                },
                Value: {
                    required: true
                },

                OrderBy: {
                    required: true
                },
                Visible: {
                    required: true
                },
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../PengaturanLookup/SubmitEdit';
                }
                else {
                    url = '../PengaturanLookup/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }

    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../PengaturanLookup/Delete',
                            type: 'POST',
                            data: { "Ids": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }
    //--***************************************END DELETE ******************************************//

</script>