﻿<script type="text/javascript">
    var State = '';
    var Table;
    $(document).ready(function () {
        LoadDataTable();
        $.fn.datepicker.language['en'] = {
            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Des'],
            today: "Hari Ini",
            clear: "Clear",
            dateFormat: "d/mm/yyyy"
        };

        $('#txtPeriodeSearchParam').datepicker({
            language: 'en',
            autoclose: true
        });
        $("#jenisLaporanId").select2({

        });
        $("#divisiPenggunaId").select2({

        });
        var Role_Id = '@ViewBag.Role_Id';
    });

    $(document).ready(function () {
        LoadDataTable();
        $.fn.datepicker.language['en'] = {
            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
            today: "Hari Ini",
            clear: "Clear",
            dateFormat: "d/mm/yyyy"
        };

        $('#txtEndDateSearchParam').datepicker({
            language: 'en',
            autoclose: true
        });
        //$("#jenisLaporanId").select2({
        //    tags: true
        //});
        //$("#divisiPenggunaId").select2({
        //    tags: true
        //});
        var Role_Id = '@ViewBag.Role_Id';
    });

    // Load Table with DataTable
    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {

                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../JenisLaporan/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [

                            { responsivePriority: 1, "data": "number", "name": "number" },
                            { responsivePriority: 2, "data": "uic", "name": "uic" },
                            //{ responsivePriority: 3, "data": "namaLaporan", "name": "namaLaporan" },
                            { responsivePriority: 4, "data": "kodeDivisi", "name": "kodeDivisi" },
                            { responsivePriority: 5, "data": "classification", "name": "classification" },
                            { responsivePriority: 5, "data": "namaLaporan", "name": "namaLaporan" },
                            { responsivePriority: 6, "data": "deskripsi", "name": "deskripsi" },

                            { responsivePriority: 7, "data": "kategori", "name": "kategori" },
                            { responsivePriority: 8, "data": "periode", "name": "periode" }
                        ],
                        "order": [[1, "desc"]]
                    });
                    //Download(full.id);
                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#jenisLaporanId').val().trim());
                        Table.columns(3).search($('#divisiPenggunaId').val().trim());
                        Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                        Table.columns(5).search($('#txtEndDateSearchParam').val().trim());

                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                   @**@ $('#BtnClearSearch').click(function () {
                        $('#jenisLaporanId').val("");
                        $('#divisiPenggunaId').val("");
                        $('#txtPeriodeSearchParam').val("");
                        $('#txtEndDateSearchParam').val("");


                        Table.columns(2).search($('#jenisLaporanId').val().trim());
                        Table.columns(3).search($('#divisiPenggunaId').val().trim());
                        Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                        Table.columns(5).search($('#txtEndDateSearchParam').val().trim());

                        //hit search ke server
                        Table.draw();
                    });

                    //Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


    }

    // Create Upload Document
    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../BNICloud/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        ValidationForm();
                        $("#JenisLaporanId").select2({
                            tags: true
                        });
                        $("#DivisiPenggunaId").select2({
                            tags: true
                        });
                        $('.dropify').dropify();
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT/Revice ******************************************//
    function Edit(Id) {
        debugger;
        ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "id": Id }
                    UrlPartialView = '../BNICloud/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        ValidationForm();

                        $("#JenisLaporanId").select2({
                            tags: true
                        });
                        $("#DivisiPenggunaId").select2({
                            tags: true
                        });
                        $('.dropify').dropify();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW/Download ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../PengaturanLookup/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//

    //--***************************************START Download ******************************************//
    function Download(Id) {
        //ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            url: '@Url.Content("~/BNICloud/download/?Id=")' + Id,
            type: 'POST',
            dataType: 'json',
            success: function (hasil) {
                if (hasil != "") {
                    window.open(hasil.path, '_blank')
                    //State = "view";
                    //SearchData = { "Id": Id }
                    //UrlPartialView = '../BNICloud/download';
                    //LoadPartialViewData(UrlPartialView, function (data) {

                    //}, SearchData);
                    @*debugger;
                    $.ajax({
                        url: '@Url.Content("~/BNICloud/download/?Id=")' + Id,
                        type: 'POST',
                        dataType: 'json',
                        success: function (hasil2) {
                            debugger;
                            if (hasil2 != "") {
                                window.open("http://192.168.131.85/BranchNav_FileLaporan/2021/Admin/Admin/Screenshot_1605801152.png", '_blank');
                            }
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });*@

                }
                //else {
                //    window.location.href = "../Login/Login?a=true";
                //}
            },
            cache: false,
            contentType: false,
            processData: false
        });

    }
    //--***************************************END Download ******************************************//

    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                jenisLaporanId: {
                    required: true
                },
                divisiPenggunaId: {
                    required: true
                },
                file: {
                    required: true
                }
            },
            messages: {
                jenisLaporanId: "Harap isi field ini terlebih dahulu",
                divisiPenggunaId: "Harap isi field ini terlebih dahulu",
                file: "Silahkan pilih file terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            debugger;
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {

                swal({
                    title: "Konfirmasi",
                    text: "Apakah Anda yakin Upload Laporan tersebut?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            debugger;
                            url = '../BNICLoud/SubmitCreate';

                            var fd = $("#FormData")[0];
                            $.ajax(
                                {
                                    url: url,
                                    data: new FormData(fd),
                                    mimeType: "multipart/form-data",
                                    processData: false,
                                    contentType: false,
                                    type: "POST",
                                    success: function (data) {
                                        if (data == "") {
                                            BackDraft();
                                            NotifikasiSukses("Sukses", "Upload Dokumen Berhasil Dilakukan!");
                                            Table.draw();
                                            //LoadDataTableTemp();
                                            //TableTemp.ajax.reload();


                                            //setTimeout(function () {
                                            //    location.href = "../DataProject/Index"
                                            //}, 1000);
                                        }
                                        else {
                                            NotifikasiError("Error", data)
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        swal("error", error, "warning");
                                    }
                                }
                            );
                        }
                    });
            }
        });
    }

    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../BNICloud/Delete',
                            type: 'POST',
                            data: { "Ids": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }

    function ValidationFormImport() {
        //Untuk validasi form
        var $validator = $("#FormImport").validate({
            ignore: [],
            rules: {
                file: {
                    required: true
                }
            },
            messages: {
                file: "Silahkan pilih file terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#btnImportDataSewaATM').click(function () {
            var url = '';
            var $valid = $("#FormImport").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataSewaATM/ImportFile';

                var fd = $("#FormImport")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();

                                Table.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }
    //--***************************************END DELETE ******************************************//

</script>