﻿@model PortalBranchNav.Models.dbBranchNav.TblDataFaq

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <p><b>Import Data</b></p>
                <div class="col-md-12">
                    <form id="FormImport">
                        @Html.AntiForgeryToken()
                        <div style="margin-bottom:15px;">
                            <input type="file" id="FileImport" name="FileImport" class="dropify" />
                        </div>
                        <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportData">Import</a>
                    </form>

                </div>
                <hr />
                <div class="row">
                    <table id="TableTemp" class="display nowrap" style="max-width:98%;overflow-x: auto;position: sticky;">
                        <thead class="border">
                            <tr class="border">
                                <th style="max-width:25px">No</th>
                                <th style="max-width:13%">Aksi</th>
                                <th><center>Kategori</center></th>
                                <th><center>Pertanyaan</center></th>
                                <th><center>Jawaban</center></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
