﻿
@{
    ViewData["Title"] = "Data FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/plugin/air-datepicker-master/dist/css/datepicker.css" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="~/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugin/dropify-master/dist/css/dropify.min.css" rel="stylesheet" />

    <style>
        .dataTables_wrapper {
            zoom: 0.9 !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #3f6ad8;
        }

        .select2-container .select2-selection--single {
            height: 35px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-top: 5px;
            color: #495057;
            /*border: 1px solid #ced4da;*/
        }

        .input-group {
            margin-bottom: 5px;
        }

        select[name=Table_length] {
            height: 35px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: white;
            border: 1px solid teal;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            height: 22px;
        }

        div.dataTables_wrapper {
            max-width: 1100px;
            width: auto;
            margin: 0 auto;
        }
    </style>
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <h5><b>Data FAQ</b></h5>
        </div>
        <hr />
        <div id="DivContentBody">
            <div class="row">
                @*<div class="col-lg-3">
                    <center>
                        <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%;
                    z-index: 1;width:95%" id="btnShowParameterSearch" onclick="ShowParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                            Tampilkan Parameter Pencarian
                        </button>
                        <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%;
                    z-index: 1;display:none;width:95%;" id="btnHideParameterSearch" onclick="HideParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                            Sembunyikan Parameter Pencarian
                        </button>
                    </center>
                </div>*@
                <div class="col-lg-12">
                    <div class="main-card mb-3 card" id="cardParameterSearch">

                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label class="">Kategori</label>
                                        <input id="txtKategoriSearchParam" type="text" class="form-control" placeholder="Masukkan Kategori">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label class="">Pertanyaan</label>
                                        <input id="txtPertanyaanSearchParam" type="text" class="form-control" placeholder="Masukkan Pertanyaan">
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label class="">Jawaban</label>
                                        <input id="txtJawabanSearchParam" type="text" class="form-control" placeholder="Masukkan Jawaban">
                                    </div>
                                </div>
                            </div>
                            <form id="FormImport">
                                @Html.AntiForgeryToken()
                                <div id="DivImportData" style="display:none">
                                    <p>Import Data</p>
                                    <p>only allow file .csv, .xlx, .xlxs</p>
                                    <p>for template excel can be download in <a href="@Url.Action("GetTemplate","DataFAQ")">here</a><br /></p>
                                    <div style="margin-bottom:15px;">
                                        <input type="file" id="file" name="file" class="dropify" />
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportDataFAQ">Import Data FAQ</a>
                                </div>
                            </form>
                            <hr />
                            <a href="javascript:void(0)" class="mt-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearchParam">Cari</a>
                            <a href="javascript:void(0)" class="mt-2 btn btn-danger pull-right" id="BtnClearSearchParam">Bersihkan</a>

                            <a href="javascript:void(0)" class="mt-2 btn btn-success" id="BtnShowImportData" style="margin-left:10px;" onclick="ShowParameterSearch('BtnShowImportData','BtnHideImportData','DivImportData')">Import Data FAQ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                @*<a href="javascript:void(0)" class="mt-2 btn btn-success" id="BtnShowImportData" style="margin-left:15px;" onclick="ShowParameterSearch('BtnShowImportData','BtnHideImportData','DivImportData')">Import Data FAQ</a>*@
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            @*<div class="row">*@
                            @*<table id="Table" class="display nowrap" style="max-width:98%;overflow-x: auto;position: sticky;">*@
                            <table id="Table" class="display" style="max-width:100%; word-wrap:break-word">
                                <thead>
                                    <tr>
                                        <th style="max-width:25px">No</th>
                                        <th style="max-width:13%">Aksi</th>
                                        <th><center>Kategori</center></th>
                                        <th><center>Pertanyaan</center></th>
                                        <th><center>Jawaban</center></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            @*</div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivFormBody">
        </div>
    </div>
</div>




@section scripts{
    <script src="~/plugin/air-datepicker-master/dist/js/datepicker.min.js"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    @*<script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>*@
    <script src="~/plugin/select2/dist/js/select2.min.js"></script>
    <script src="~/plugin/dropify-master/dist/js/dropify.min.js"></script>

    @Html.Partial("_Script")

}

