﻿<script type="text/javascript">
    var State = '';
    var Table;
    var TableTemp;
    $(document).ready(function () {
        LoadDataTable();

    });
    ValidationFormImport();
    $('.dropify').dropify({

    });
    $.fn.datepicker.language['en'] = {
        days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
        daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
        daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
        months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
        today: 'Today',
        clear: 'Clear',
        firstDay: 0
    };
    ConvertPeriodeBulanTahun();
    
    function ConvertPeriodeBulanTahun() {

        CreateContentTanggalMonthYears("PeriodeImportData");
        $('#PeriodeImportData').datepicker({
            dateFormat: 'M yyyy'
        })
    }


    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../TargetKinerjaDPK/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "Number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "Id", "orderable": false, "visible": false, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "kodeUnit", "name": "kodeUnit" },
                            { responsivePriority: 4, "data": "namaUnit", "name": "namaUnit" },
                            { responsivePriority: 5, "data": "periode", "name": "periode" },
                            { responsivePriority: 6, "data": "baselineTabungan", "name": "baselineTabungan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '')  },
                            { responsivePriority: 7, "data": "targetTabunganTahunBerjalan", "name": "targetTabunganTahunBerjalan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '')  },
                            { responsivePriority: 8, "data": "baselineGiro", "name": "baselineGiro", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '')  },
                            { responsivePriority: 9, "data": "targetGiroTahunBerjalan", "name": "targetGiroTahunBerjalan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '')  },
                            { responsivePriority: 10, "data": "baselineDeposito", "name": "baselineDeposito", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '')  },
                            { responsivePriority: 10, "data": "targetDepositoTahunBerjalan", "name": "targetDepositoTahunBerjalan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '')  },
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearchParam').click(function () {
                        Table.columns(1).search($('#PeriodeBulanTahun').val().trim());
                        Table.columns(2).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(4).search($('#PeriodeImportData').val().trim());


                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearchParam').click(function () {
                        $('#PeriodeBulanTahun').val("");
                        $('#txtKodeSearchParam').val("");
                        $('#txtNamaSearchParam').val("");
                        $('#PeriodeImportData').val("");

                        Table.columns(1).search($('#PeriodeBulanTahun').val().trim());
                        Table.columns(2).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(4).search($('#PeriodeImportData').val().trim());

                        //hit search ke server
                        Table.draw();
                    });

                    //Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function Import() {
        UrlPartialView = '../TargetKinerjaDPK/Import';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        $('.dropify').dropify({

                        });
                        LoadDataTableTemp();
                        ValidationFormImport();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };

                        CreateContentTanggalMonthYears("PeriodeImport");
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function LoadDataTableTemp() {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableTemp = $('#TableTemp').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: false, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        //dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../TargetKinerjaDPK/LoadDataTemp',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": null, "name": null },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "KodeOutlet", "name": "KodeOutlet" },
                            { responsivePriority: 4, "data": "NamaUnit", "name": "NamaUnit" },
                            { responsivePriority: 5, "data": "Tahun", "name": "Tahun" },
                            { responsivePriority: 6, "data": "Rating", "name": "Rating", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 7, "data": "RatingPengelolaanResiko", "name": "RatingPengelolaanResiko", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 8, "data": "RatingGabungan", "name": "RatingGaubungan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') }

                        ],
                        "order": [[1, "desc"]]
                    });

                    TableTemp.on('order.dt search.dt', function () {
                        TableTemp.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../DataMasterClient/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        ValidationForm();
                        $("input[name=IsActive][value=True]").prop("checked", true);
                        DropdownTypeClietnServerSide('TypeClientId', 100, false);
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataMasterClient/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        DropdownTypeClietnServerSide('TypeClientId', 100, false);
                        ValidationForm();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataMasterClient/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Nama: {
                    required: true
                },
                OrderBy: {
                    required: true
                },
                Visible: {
                    required: true
                },
                TypeClientId: {
                    required: true
                }
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../DataMasterClient/SubmitEdit';
                }
                else {
                    url = '../DataMasterClient/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }



    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
        swal({
            title: "Konfirmasi",
            text: "Apakah Anda yakin ingin menghapus data ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '../DataMasterClient/Delete',
                        type: 'POST',
                        data: { "Ids": Id },
                        success: function (d) {
                            if (d == "") {
                                NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                            } else {
                                NotifikasiError("Error", "Data gagal dihapus!")
                            }
                            Table.draw();
                        }
                    });
                }
            });
        return false;
    }
    //--***************************************END DELETE ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationFormImport() {
        //Untuk validasi form
        var $validator = $("#FormImport").validate({
            ignore: [],
            rules: {
                PeriodeImportData: {
                    required: true
                },
                file: {
                    required: true
                }
            },
            messages: {
                file: "Silahkan pilih file terlebih dahulu !",
                PeriodeImportData: "Silahkan pilih periode terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#btnImportData').click(function () {
            var url = '';
            var $valid = $("#FormImport").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../TargetKinerjaDPK/ImportFile';
                var str = $("#PeriodeImportData").val();
                var res = str.split(" ");
                var bulan = ConvertShortMonthNameToDate(res[0]);
                $("#PeriodeBulanTahun").val(res[1] + "-" + bulan + "-" + "01");
                //alert($("#PeriodeBulanTahun").val());
                var fd = $("#FormImport")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                //Tab.ajax.reload();

                                Table.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }
</script>