﻿@using PortalBranchNav.Component;
@using PortalBranchNav.ViewModels;
@using Microsoft.AspNetCore.Http;

@{
    var y = (List<NavigationVM>)Context.Session.GetObject<List<NavigationVM>>("AllMenu");
    var Path = ".." + ViewBag.CurrentPath;
}
<div class="scrollbar-sidebar ps ">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu metismenu">
            @if (y != null)
            {
                @foreach (var mainmenu in y.Where(s => s.Type == 1).OrderBy(omn => omn.Order).ToList())
                {
                    <li class="app-sidebar__heading">@mainmenu.Name</li>
                    @foreach (var menu in y.Where(s => s.Type == 2 && s.ParentNavigationId == mainmenu.Id).OrderBy(omn => omn.Order).ToList())
                    {
                        if (y.Count(m => m.ParentNavigationId == menu.Id) == 0) //Jika menu tidak mempunyai child
                        {
                            if (menu.Route == Path)
                            {
                                <li>
                                    <a href=@menu.Route aria-expanded="false" class="mm-active">
                                        <i class="metismenu-icon @menu.IconClass"></i>
                                        @menu.Name
                                    </a>
                                </li>
                            }
                            else
                            {
                                if (menu.Route == "../PendingTask/Index")
                                {
                                    <li>
                                        <a href=@menu.Route aria-expanded="false">
                                            <i class="metismenu-icon @menu.IconClass"></i>
                                            @menu.Name
                                            <div class="ml-auto badge badge-danger">2 New</div>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href=@menu.Route aria-expanded="false">
                                            <i class="metismenu-icon @menu.IconClass"></i>
                                            @menu.Name
                                        </a>
                                    </li>
                                }

                            }
                        }
                        else //Jika menu mempunyai child
                        {
                            <li>
                                <a href="#" aria-expanded="false">
                                    <i class="metismenu-icon @menu.IconClass"></i>
                                    @menu.Name
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="mm-collapse">
                                    @foreach (var submenu in y.Where(s => s.Type == 3 && s.ParentNavigationId == menu.Id).OrderBy(omn => omn.Order).ToList())
                                    {
                                        <li>
                                            <a href=@submenu.Route>
                                                <i class="metismenu-icon">
                                                </i>@submenu.Name
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        }


                    }
                }
            }
        </ul>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 597px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 373px;"></div></div>
</div>