﻿@model PortalBranchNav.ViewModels.DataBNICLoud

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <h5 class="float-left ml-3 mt-3">Upload</h5>
            <div class="card-body">
                <form id="FormData" style="padding-top:20px;">
                    @Html.AntiForgeryToken()
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Devisi Pengguna<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.divisiPenggunaId, (IEnumerable<SelectListItem>)ViewBag.DivisiPengguna, "- Silahkan Pilih -", new { id = "DivisiPenggunaId", @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%", @onchange = "ChangeValue(this.value)" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Jenis Laporan<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @*@Html.DropDownListFor(m => m.jenisLaporanId, (IEnumerable<SelectListItem>)ViewBag.JenisLaporan, "- Silahkan Pilih -", new { id = "JenisLaporanId", @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%"})*@
                                <select class="js-example-placeholder-multiple js-states form-control" id="JenisLaporanId" name="JenisLaporanId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">File<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div style="margin-bottom:15px;width:100%">
                                    <input type="file" id="file" name="file" class="dropify"/>
                                </div>
                                <p style="font-style: italic;">Maksimum file yang dapat diupload hanya 25 MB</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
