﻿@model PortalBranchNav.ViewModels.MasterDataPengguna_ViewModels
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form id="FormData" style="padding-top:20px;">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Npp <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Npp, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Npp" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nama <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Nama, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Nama" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Email <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Email" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Unit <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.UnitId, (IEnumerable<SelectListItem>)ViewBag.Unit, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Role <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input class="form-control" id="ListJabatanId" value="@ViewBag.ListJabatanId" style="display:none" readonly />
                                @*@Html.DropDownListFor(m => m.JabatanId, (IEnumerable<SelectListItem>)ViewBag.RolePegawai, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })*@
                                @Html.DropDownListFor(m => m.ListJabatan, (IEnumerable<SelectListItem>)ViewBag.RolePegawai, "-Silahkan pilih-", new { id = "JabatanId", @class = "js-example-placeholder-multiple js-states form-control", @name = "JabatanId[]", @style = "width:100%", @multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Status <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.RadioButtonFor(model => model.IsActive, true, new { })&nbsp; Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.IsActive, false, new { })&nbsp; Tidak Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
