﻿<script type="text/javascript">
    var State = '';
    var Table;
    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataPengguna/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-ubah-password" onclick="UbahPassword(' + full.id + ')" style="margin-right:5px;display:none" data-toggle="tooltip" title="Ubah Password Data"><i class="fa fa-key btnChangePassword"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "npp", "name": "npp" },
                            { responsivePriority: 4, "data": "nama", "name": "nama" },
                            { responsivePriority: 5, "data": "unit", "name": "unit" },
                            { responsivePriority: 6, "data": "jabatan", "name": "jabatan" },
                            { responsivePriority: 8, "data": "email", "name": "email" },
                            { responsivePriority: 9, "data": "lastLogin", "name": "lastLogin" },
                            {
                                responsivePriority: 7, "data": "status", "name": "status",
                                "render": function (data, type, full, meta) {
                                    if (data == 'Aktif') {
                                        return '<p class="mt-2 btn btn-primary disabled"><b>' + data + '</b></p>'
                                    }
                                    else {
                                        return '<p class="mt-2 btn btn-danger disabled"><b>' + data + '</b></p>'
                                    }
                                }
                            },
                            { responsivePriority: 10, "data": "createdTime", "name": "createdTime", "visible": false },
                            { responsivePriority: 11, "data": "createdBy", "name": "createdBy", "visible": false },
                            { responsivePriority: 12, "data": "updatedTime", "name": "updatedTime", "visible": false },
                            { responsivePriority: 13, "data": "updatedBy", "name": "updatedBy", "visible": false}
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#txtNppSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(4).search($('#txtUnitSearchParam').val().trim());


                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtNppSearchParam').val("");
                        $('#txtNamaSearchParam').val("");
                        $('#txtUnitSearchParam').val("");

                        Table.columns(2).search($('#txtNppSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(4).search($('#txtUnitSearchParam').val().trim());

                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function CheckNppToGetName(npp) {
        $.ajax({
            type: 'POST',
            url: '../DataPengguna/CheckNppToGetName',
            data: { 'Npp': npp },
            success: function (hasil) {
                if (hasil != "Failed") {
                    //$('#Nama').val = hasil;
                    document.getElementById("Nama").value = hasil;
                }
            }
        })
    }

    function CheckNppToGetEmail(npp) {
        $.ajax({
            type: 'POST',
            url: '../DataPengguna/CheckNppToGetEmail',
            data: { 'Npp': npp },
            success: function (hasil) {
                if (hasil != "Failed") {
                    //$('#Email').val = hasil;
                    document.getElementById("Email").value = hasil;
                }

            }
        })
    }


    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../DataPengguna/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#UnitId").select2({
                            tags: true
                        });
                        //$("#RoleId").select2({
                        //    tags: true
                        //});
                        $("#JabatanId").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });
                        DropdownUnitServerSide('UnitId', '100', false, '');

                        ValidationForm();
                        $("input[name=IsActive][value=True]").prop("checked", true);
                        $("input[name=IsLDAP][value=True]").prop("checked", true);

                        $("#Npp").on('paste input', function () {
                            debugger;
                            //if ($('input[name="ForAllUnit"]:checked').val() == "False") {
                            //    $('#KodeUnitForm').show();
                            //}
                            //else {
                            //    $('#KodeUnitForm').hide();
                            //}
                            CheckNppToGetName($('#Npp').val());
                            CheckNppToGetEmail($('#Npp').val());
                        });


                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    @*function DataPegawai(npp) {
        debugger;
        $.ajax({
            success: function () {
                debugger;
                DataPegawaiName('Nama', false, npp);
            }
        });
    }*@

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataPengguna/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#UnitId").select2({
                            tags: true
                        });
                        //$("#RoleId").select2({
                        //    tags: true
                        //});
                        $("#JabatanId").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        $("#Npp").on('paste input', function () {
                            debugger;
                            //if ($('input[name="ForAllUnit"]:checked').val() == "False") {
                            //    $('#KodeUnitForm').show();
                            //}
                            //else {
                            //    $('#KodeUnitForm').hide();
                            //}
                            CheckNppToGetName($('#Npp').val());
                            CheckNppToGetEmail($('#Npp').val());
                        });

                        var dataJabatan = $('#ListJabatanId').val();
                        SearchData = { "Id": dataJabatan }
                        UrlPartialView = "../Utility/GetDropdownJabatanById";
                        LoadPartialViewData(UrlPartialView, function (data) {
                            $.each(data, function (index, value) {
                                $('#JabatanId').append('<option value="' + value.id + '" selected>' + value.text + '</option>');
                            });
                        }, SearchData);

                        //DropdownUnitServerSide('UnitId', '100', false, '');

                        ValidationForm();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataPengguna/View';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        //var dataJabatan = $('#ListJabatanId').val();
                        //SearchData = { "Roles": dataJabatan }
                        //UrlPartialView = "../Utility/DropdownJabatan";
                        //LoadPartialViewData(UrlPartialView, function (data) {
                        //    $.each(data, function (index, value) {
                        //        $('#JabatanId').append('<option value="' + value.id + '" selected>' + value.text + '</option>')
                        //    });
                        //}, SearchData);

                        $("#JabatanId").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        var dataJabatan = $('#ListJabatanId').val();
                        SearchData = { "Id": dataJabatan }
                        UrlPartialView = "../Utility/GetDropdownJabatanById";
                        LoadPartialViewData(UrlPartialView, function (data) {
                            $.each(data, function (index, value) {
                                $('#JabatanId').append('<option value="' + value.id + '" selected>' + value.text + '</option>');
                            });
                        }, SearchData);

                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Npp: {
                    required: true
                },
                Nama: {
                    required: true
                },
                Email: {
                    required: true,
                    email: true
                },
              
                UnitId: {
                    required: true
                },
                RoleId: {
                    required: true
                },
                IsActive: {
                    required: true
                },
                IsLDAP: {
                    required: true
                }
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../DataPengguna/SubmitEdit';
                }
                else {
                    url = '../DataPengguna/SubmitCreate';
                }

                var JabatanId = $("#JabatanId").val().join();
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize() + "&JabatanIds=" + JabatanId,
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                            return false;
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }

   
 
    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../DataPengguna/Delete',
                            type: 'POST',
                            data: { "Ids": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }
    //--***************************************END DELETE ******************************************//

</script>