﻿@model PortalBranchNav.Models.dbBranchNav.TblDataOutletSewa

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <p><b>Import Data</b></p>
                <div class="col-md-12">
                    <form id="FormImport">
                        @Html.AntiForgeryToken()
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Periode <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-prepend datepicker-trigger" id="Priode" name="Priode" data-date-format="dd/mm/yyyy">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="PeriodeImport" name="PeriodeImport" class="datepicker-here form-control" , autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:15px;">
                            <input type="file" id="FileImport" name="FileImport" class="dropify" />
                        </div>
                        <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportData">Import</a>
                    </form>
                  
                </div>
                <hr />
                <div class="row">
                    <table id="TableTemp" class="display nowrap" style="max-width:98%;overflow-x: auto;position: sticky;">
                        <thead class="border">
                            <tr class="border">
                                <th style="max-width:25px">No</th>
                                <th style="max-width:13%">Aksi</th>
                                <th><center>Kode Cabang</center></th>
                                <th><center>Nama Cabang</center></th>
                                <th><center>ID ATM</center></th>
                                <th><center>Tipe ATM</center></th>
                                <th><center>Tahun Deployment</center></th>
                                <th><center>Alamat</center></th>
                                <th><center>Dati II</center></th>
                                <th><center>Kode Pos</center></th>
                                <th><center>Tanggal Aktivasi</center></th>
                                <th><center>Tanggal Mulai Sewa</center></th>
                                <th><center>Tanggal Akhir Sewa</center></th>
                                <th><center>Tipe Periode Sewa</center></th>
                                <th><center>Harga Sewa Per Periode</center></th>
                                <th><center>Total Harga Sewa</center></th>
                                <th><center>No PKS</center></th>
                                <th><center>Tanggal PKS</center></th>
                                <th><center>Pengelola Kas ATM</center></th>
                                <th><center>Nama Pengelola Kas ATM</center></th>
                                <th><center>Nama Vendor Maintain</center></th>
                                <th><center>ATM Place</center></th>
                                <th><center>Status ATM</center></th>
                                <th><center>Merk Mesin ATM</center></th>
                                <th><center>Serial Number</center></th>
                                <th><center>Pengelola Jaringan Komunikasi</center></th>
                                <th><center>No Polis Asuransi</center></th>
                                <th><center>Berlaku Dari</center></th>
                                <th><center>Berlaku Sampai</center></th>
                                <th><center>CCTV</center></th>
                                <th><center>Titik CCTV</center></th>
                                <th><center>Kapasitas</center></th>
                                <th><center>Periode Backup</center></th>
                                <th><center>Lokasi DVR</center></th>
                                <th><center>Latitude</center></th>
                                <th><center>Longitude</center></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
