﻿<script type="text/javascript">
    var State = '';
    var Table;
    var TableTemp;

    $('.dropify').dropify({

    });
    LoadDataTable();

    ValidationFormImport();
    $('.dropify').dropify({

    });
    $.fn.datepicker.language['en'] = {
        days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
        daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
        daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
        months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
        today: 'Today',
        clear: 'Clear',
        firstDay: 0
    };
    ConvertPeriodeBulanTahun();
    ConvertPeriodeTahun();
    
    function ConvertPeriodeBulanTahun() {

        CreateContentTanggalMonthYears("PeriodeImportData");
        $('#PeriodeImportData').datepicker({
            dateFormat: 'M yyyy'
        })
    }

    function ConvertPeriodeTahun() {
        //$.fn.datepicker.language['en'] = {
        //    days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
        //    daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
        //    daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
        //    months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        //    monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
        //    today: 'Today',
        //    clear: 'Clear',
        //    dateFormat: 'yyyy',
        //    firstDay: 0
        //};

        CreateContentTanggalYears("PeriodeTahun");
        $('#PeriodeTahun').datepicker({
            dateFormat: 'yyyy'
        })
    }

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: false,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataBRO/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            //{ responsivePriority: 2, "data": "Code", "name": "Code" },
                            { responsivePriority: 2, "data": "kodeOutlet", "name": "kodeOutlet" },
                            { responsivePriority: 3, "data": "namaUnit", "name": "namaUnit" },
                            { responsivePriority: 15, "data": "netBro", "name": "netBro", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 4, "data": "broKecuranganInternal", "name": "broKecuranganInternal", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 5, "data": "recoveryBroKecuranganInternal", "name": "recoveryBroKecuranganInternal", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 6, "data": "broKejahatan", "name": "broKejahatanInternal", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 7, "data": "recoveryBroKejahatan", "name": "recoveryBroKejahatanInternal", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 8, "data": "broLokasi", "name": "broLokasi", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 9, "data": "recoveryBroLokasi", "name": "recoveryBroLokasi", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 10, "data": "broProduk", "name": "broProduk", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 11, "data": "recoveryBroProduk", "name": "recoveryBroProduk", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 12, "data": "broKerusakan", "name": "broKerusakan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 13, "data": "recoveryBroKerusakan", "name": "recoveryBroKerusakan", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 14, "data": "broGangguanBisnis", "name": "broGangguanBisnis", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 15, "data": "recoveryBroGangguanBisnis", "name": "recoveryBroGangguanBisnis", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 16, "data": "broTransaksiDanDistribusi", "name": "broTransaksiDanDistribusi", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 17, "data": "recoveryBroTransaksiDanDistribusi", "name": "recoveryBroTransaksiDanDistribusi", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') }            
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearchParam').click(function () {
                        Table.columns(1).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(2).search($('#txtNamaSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearchParam').click(function () {
                        $('#txtKodeSearchParam').val("");
                        $('#txtNamaSearchParam').val("");

                        Table.columns(1).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(2).search($('#txtNamaSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    //Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function Import() {
        UrlPartialView = '../DataBRO/Import';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        $('.dropify').dropify({

                        });
                        LoadDataTableTemp();
                        ValidationFormImport();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };

                        CreateContentTanggalMonthYears("PeriodeImport");
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Nama: {
                    required: true
                },
                OrderBy: {
                    required: true
                },
                Visible: {
                    required: true
                },
                TypeClientId: {
                    required: true
                }
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../DataMasterClient/SubmitEdit';
                }
                else {
                    url = '../DataMasterClient/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }


    //Untuk Validasi Form data Pinjaman
    function ValidationFormImport() {
        //Untuk validasi form
        var $validator = $("#FormImport").validate({
            ignore: [],
            rules: {
                PeriodeImportData: {
                    required: true
                },
                file: {
                    required: true
                },
                PeriodeTahun: {
                    required: true
                }
            },
            messages: {
                file: "Silahkan pilih file terlebih dahulu !",
                PeriodeImportData: "Silahkan pilih periode terlebih dahulu !",
                PeriodeTahun: "Silahkan pilih tahun terlebih dahulu !"

            },
            messages: {
                file: "Silahkan pilih file terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });

        //check apakah form sudah valid atau belum
        $('#btnImportData').click(function () {
            var url = '';
            var $valid = $("#FormImport").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataBRO/ImportFile';
                var str = $("#PeriodeImportData").val();
                var res = str.split(" ");
                var bulan = ConvertShortMonthNameToDate(res[0]);
                $("#PeriodeBulanTahun").val(res[1] + "-" + bulan + "-" + "01");
                //alert($("#PeriodeBulanTahun").val());
                var fd = $("#FormImport")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                //Tab.ajax.reload();

                                Table.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }

</script>