﻿
@{
    ViewData["Title"] = "Manajemen Data Sewa Outlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/plugin/air-datepicker-master/dist/css/datepicker.css" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="~/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugin/dropify-master/dist/css/dropify.min.css" rel="stylesheet" />
    <style>
        .dataTables_wrapper {
            zoom: 0.9 !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #3f6ad8;
        }

        .select2-container .select2-selection--single {
            height: 35px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-top: 5px;
            color: #495057;
            /*border: 1px solid #ced4da;*/
        }

        .input-group {
            margin-bottom: 5px;
        }

        select[name=Table_length] {
            height: 35px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: white;
            border: 1px solid teal;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            height: 22px;
        }

        .dataTables_wrapper {
            max-width: 1050px;
        }
    </style>
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-album icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>
                        Manajemen Data BRO
                        <div class="page-title-subheading">
                            Data BRO
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivContentBody">
            <div class="row">

                <div class="col-lg-12">
                    <div class="main-card mb-3 card" id="cardParameterSearch">
                        <div class="card-body">
                            <div class="col-md-12">
                                <form id="FormImport">
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class="">Periode Penilaian<span class="labelMandatory">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend datepicker-trigger" id="Priode" name="Priode" data-date-format="dd/mm/yyyy">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-calendar-alt"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text" id="PeriodeImportData" name="PeriodeImportData" class="datepicker-here form-control" , autocomplete="off" />
                                                </div>
                                            </div>
                                            <input type="text" id="PeriodeBulanTahun" name="PeriodeBulanTahun" style="display:none" class="form-control" , autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class="">Kode Outlet</label>
                                                <input id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label class="">Nama Outlet</label>
                                                <input id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivImportData" style="display:none">
                                        <p>Import Data</p>
                                        <p>only allow file .csv, .xlx, .xlxs</p>
                                        <p>for template excel can be download in <a href="@Url.Action("GetTemplate","DataBRO")">here</a><br /></p>
                                        <div style="margin-bottom:15px;">
                                            <input type="file" id="file" name="file" class="dropify" />
                                        </div>
                                        <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportData">Import Data BRO</a>
                                    </div>

                                </form>

                            </div>
                            <hr />
                            <a href="javascript:void(0)" class="mt-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearchParam">Cari</a>
                            <a href="javascript:void(0)" class="mt-2 btn btn-danger pull-right" id="BtnClearSearchParam">Bersihkan</a>

                            <a href="javascript:void(0)" class="mt-2 btn btn-success" id="BtnShowImportData" style="margin-left:10px;" onclick="ShowParameterSearch('BtnShowImportData','BtnHideImportData','DivImportData')">Import Data BRO</a>
                            <a href="javascript:void(0)" class="mt-2 btn btn-success" id="BtnHideImportData" style="margin-left:10px;display:none;" onclick="HideParameterSearch('BtnShowImportData','BtnHideImportData','DivImportData')">Hide Form Import</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="headerSearch">
                            Manajemen Data BRO
                        </div>
                        <div class="card-body">
                            <table id="Table" class="display nowrap" style="width:100%">
                                <thead class="border">
                                    <tr class="border">
                                        <th style="max-width:25px" rowspan="3"><center>No</center></th>
                                        @*<th rowspan="3"><center>Kode</center></th>*@
                                        <th rowspan="3"><center>Kode Unit</center></th>
                                        <th rowspan="3"><center>Nama Cabang</center></th>
                                        <th rowspan="3"><center>Net BRO</center></th>
                                    </tr>
                                    <tr class="border">
                                        <th colspan="2"><center>Kecurangan Internal</center></th>
                                        <th colspan="2"><center>Kejahatan Internal</center></th>
                                        <th colspan="2"><center>Lokasi dan Keselamatan Pegawai</center></th>
                                        <th colspan="2"><center>Produk dan Bisnis</center></th>
                                        <th colspan="2"><center>Kerusakan Aset</center></th>
                                        <th colspan="2"><center>Gangguan Bisnis dan Kegagalan Sistem</center></th>
                                        <th colspan="2"><center>Transaksi, Distribusi, dan Proses Management</center></th>
                                    </tr>
                                    <tr class="border">
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                        <th><center>BRO</center></th>
                                        <th><center>Recovery BRO</center></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivFormBody">
        </div>
    </div>
</div>




@section scripts{
    <script src="~/plugin/air-datepicker-master/dist/js/datepicker.min.js"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="~/plugin/select2/dist/js/select2.min.js"></script>
    <script src="~/plugin/dropify-master/dist/js/dropify.min.js"></script>
    @Html.Partial("_Script")

}

