﻿@model PortalBranchNav.Models.dbBranchNav.TblDataHandbookDetails

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                Formulir Data
            </div>
            <div class="card-body">
                <form id="FormData" style="padding-top:20px;">
                    @Html.AntiForgeryToken()
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Book <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.HandbookId, (IEnumerable<SelectListItem>)ViewBag.dataHandbookId, "- Silahkan Pilih -", new { id = "dataHandbook", @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Judul <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Judul, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Deskripsi <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextAreaFor(m => m.Deskripsi, new { id="DeskripsiText", @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Keyword <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Kewenangan Unit<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.RadioButtonFor(model => model.ForAllUnit, true, new { })&nbsp; Semua Unit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.ForAllUnit, false, new { })&nbsp; Beberapa Unit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15" id="KodeUnitForm">
                        <label class="col-md-3 col-form-label">Kode Unit<span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.ForKodeUnit, (IEnumerable<SelectListItem>)ViewBag.KodeUnitId, "-Silahkan pilih-", new { id = "KodeUnit", @class = "js-example-placeholder-multiple js-states form-control", @name = "KodeUnit[]", @style = "width:100%", @multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Urutan Ke <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.OrderBy, new { @type = "number", @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Status <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.RadioButtonFor(model => model.IsActive, true, new { })&nbsp; Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.IsActive, false, new { })&nbsp; Tidak Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
