﻿<script type="text/javascript">
    var State = '';
    var Table;
    var TableTemp;
    $(document).ready(function () {
        LoadDataTable();

    });
    ValidationFormImport();
    $('.dropify').dropify({

    });
    $.fn.datepicker.language['en'] = {
        days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
        daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
        daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
        months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
        today: 'Today',
        clear: 'Clear',
        firstDay: 0
    };
    ConvertPeriodeBulanTahun();

    function ConvertPeriodeBulanTahun() {

        CreateContentTanggalMonthYears("PeriodeImportData");
        $('#PeriodeImportData').datepicker({
            dateFormat: 'M yyyy'
        })
    }

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataPendingAudit/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "Number", "className": "text-center" },
                            //{
                            //    responsivePriority: 2,
                            //    "data": "id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                            //        return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                            //            + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                            //            + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                            //    }
                            //},
                            { responsivePriority: 3, "data": "kodeOutlet", "name": "KodeOutlet", "className": "text-center" },
                            { responsivePriority: 4, "data": "namaUnit", "name": "NamaUnit", "className": "text-center" },
                            { responsivePriority: 6, "data": "tahun", "name": "Tahun", "className": "text-center" },
                            { responsivePriority: 7, "data": "totalTemuan", "name": "TotalTemuan", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 8, "data": "totalTemuanJatuhTempo", "name": "TotalTemuanJatuhTempo", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 9, "data": "pendingJatuhTempo", "name": "PendingJatuhTempo", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 10, "data": "pendingBelumJatuhTempo", "name": "PendingBelumJatuhTempo", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 11, "data": "selesai", "name": "Selesai", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 12, "data": "presentase", "name": "Presentase", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 2, '') }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearchParam').click(function () {
                        Table.columns(2).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        

                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearchParam').click(function () {
                        $('#txtKodeSearchParam').val("");
                        $('#txtNamaSearchParam').val("");
                        
                        Table.columns(2).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        

                        //hit search ke server
                        Table.draw();
                    });

                    //Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function Import() {
        UrlPartialView = '../DataPendingAudit/Import';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        $('.dropify').dropify({

                        });
                        LoadDataTableTemp();
                        ValidationFormImport();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };

                        CreateContentTanggalMonthYears("PeriodeImport");
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function LoadDataTableTemp() {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableTemp = $('#TableTemp').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: false, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        //dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataPendingAudit/LoadDataTemp',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "Number", "className": "text-center" },
                            //{
                            //    responsivePriority: 2,
                            //    "data": "id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                            //        return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                            //            + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                            //            + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                            //    }
                            //},
                            { responsivePriority: 3, "data": "kodeOutlet", "name": "KodeOutlet", "className": "text-center" },
                            { responsivePriority: 4, "data": "namaUnit", "name": "NamaUnit", "className": "text-center" },
                            { responsivePriority: 6, "data": "tahun", "name": "Tahun", "className": "text-center" },
                            { responsivePriority: 7, "data": "totalTemuan", "name": "TotalTemuan", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 8, "data": "totalTemuanJatuhTempo", "name": "TotalTemuanJatuhTempo", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 9, "data": "pendingJatuhTempo", "name": "PendingJatuhTempo", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 10, "data": "pendingBelumJatuhTempo", "name": "PendingBelumJatuhTempo", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 11, "data": "selesai", "name": "Selesai", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                            { responsivePriority: 12, "data": "presentase", "name": "Presentase", "className": "text-center", render: $.fn.dataTable.render.number('.', ',', 2, '') }
                        ],
                        "order": [[1, "desc"]]
                    });

                    TableTemp.on('order.dt search.dt', function () {
                        TableTemp.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //Untuk Validasi Form data Pinjaman
    function ValidationFormImport() {
        //Untuk validasi form
        var $validator = $("#FormImport").validate({
            ignore: [],
            rules: {
                PeriodeImportData: {
                    required: true
                },
                file: {
                    required: true
                }
            },
            messages: {
                file: "Silahkan pilih file terlebih dahulu !",
                PeriodeImportData: "Silahkan pilih periode terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#btnImportData').click(function () {
            var url = '';
            var $valid = $("#FormImport").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataPendingAudit/ImportFile';
                var str = $("#PeriodeImportData").val();
                var res = str.split(" ");
                var bulan = ConvertShortMonthNameToDate(res[0]);
                $("#PeriodeBulanTahun").val(res[1] + "-" + bulan + "-" + "01");
                //alert($("#PeriodeBulanTahun").val());
                var fd = $("#FormImport")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                //Tab.ajax.reload();

                                Table.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }
</script>