﻿<script type="text/javascript">
    var State = '';
    var TableUpcomingProject;
    var TableUpcomingProject;
    var dataUpcomingProject =[
    {
        "Number" : 1,
        "Id" : 1,
        "NoProject" : "DMA/SPO/00001",
        "NamaProject" : "Nama Project 1",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 2,
        "Id" : 1,
        "NoProject" : "DMA/SPO/00002",
        "NamaProject" : "Nama Project 2",
        "Deadline" : "22 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 3,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 4,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 5,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 6,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 7,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 8,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    },
    {
        "Number" : 9,
        "Id" : 3,
        "NoProject" : "DMA/SPO/00003",
        "NamaProject" : "Nama Project 3",
        "Deadline" : "20 September 2020",
        "TypeDeadline" : 1,
        "Timeline" : "10 Hari",
        "user" : "Divisi STI"
    }
    ]


    $(document).ready(function () {
          LoadTableUpcomingProject();
          LoadTableOverdueProject();
          CreateProgressMeter();
    });

    function LoadTableUpcomingProject()
    {
        TableUpcomingProject = $('#TableUpcomingProject').DataTable({
                                fixedHeader: {
                                    header: true
                                },
                                pageLength: 10,
                                destroy: true,
                                orderCellsTop: true,
                                "scrollY": "270px",
                                "scrollCollapse": true,
                                responsive: true,
                                processing: true, // untuk menampilkan bar prosessing
                                serverSide: false, // untuk proses server side datatable harus diset true
                                orderMulti: false, // untuk disable multi order column
                                retrieve: true,
                                //autoWidth: true,
                                dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                                data: dataUpcomingProject,
                                language: {
                                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                                    info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                                    paginate: {
                                        first: "Halaman Awal",
                                        last: "Halaman Akhir",
                                        previous: "Halaman Sebelumnya",
                                        next: "Halaman Selanjutnya",
                                    },
                                    lengthMenu: "Menampilkan _MENU_ Data",
                                    emptyTable: "Data tidak ditemukan",
                                    infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                                    zeroRecords: "Data tidak ditemukan"
                                },
                                columns: [
                                    { responsivePriority: 1, "data": "Number", "name": "Number" },
                                    {
                                        responsivePriority: 2,
                                        "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                            return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="DetailProject(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Detail Project"><i class="fa fa-edit btnEdit"></i></a></div>'
                                        }
                                    },
                                    { responsivePriority: 5, "data": "NoProject", "name": "NoProject" },
                                    { responsivePriority: 4, "data": "NamaProject", "name": "NamaProject" },
                                    { responsivePriority: 3, "data": "Deadline", "name": "Deadline" },
                                    { responsivePriority: 7, "data": "Timeline", "name": "Timeline" },
                                    { responsivePriority: 8, "data": "user", "name": "user" }
                                ],
                                "order": [[1, "desc"]]
                            });
    }

    function LoadTableOverdueProject()
    {
        TableOverdueProject = $('#TableOverdueProject').DataTable({
                                fixedHeader: {
                                    header: true
                                },
                                pageLength: 10,
                                destroy: true,
                                orderCellsTop: true,
                                "scrollY": "270px",
                                "scrollCollapse": true,
                                responsive: true,
                                processing: true, // untuk menampilkan bar prosessing
                                serverSide: false, // untuk proses server side datatable harus diset true
                                orderMulti: false, // untuk disable multi order column
                                retrieve: true,
                                //autoWidth: true,
                                dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                                data: dataUpcomingProject,
                                language: {
                                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                                    info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                                    paginate: {
                                        first: "Halaman Awal",
                                        last: "Halaman Akhir",
                                        previous: "Halaman Sebelumnya",
                                        next: "Halaman Selanjutnya",
                                    },
                                    lengthMenu: "Menampilkan _MENU_ Data",
                                    emptyTable: "Data tidak ditemukan",
                                    infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                                    zeroRecords: "Data tidak ditemukan"
                                },
                                columns: [
                                    { responsivePriority: 1, "data": "Number", "name": "Number" },
                                    {
                                        responsivePriority: 2,
                                        "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                            return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="DetailProject(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Detail Project"><i class="fa fa-edit btnEdit"></i></a></div>'
                                        }
                                    },
                                    { responsivePriority: 5, "data": "NoProject", "name": "NoProject" },
                                    { responsivePriority: 4, "data": "NamaProject", "name": "NamaProject" },
                                    { responsivePriority: 3, "data": "Deadline", "name": "Deadline" },
                                    { responsivePriority: 7, "data": "Timeline", "name": "Timeline" },
                                    { responsivePriority: 8, "data": "user", "name": "user" }
                                ],
                                "order": [[1, "desc"]]
                            });
    }

    function CreateProgressMeter()
    {
        var fm = new FluidMeter();
                fm.init({
                  targetContainer: document.getElementById("progress-meter"),
                  fillPercentage: 70,
                  options: {
                    fontFamily: "Raleway",
                    drawPercentageSign: true,
                    drawBubbles: true,
                    size: 300,
                    borderWidth: 19,
                    backgroundColor: "#e2e2e2",
                    foregroundColor: "#fafafa",
                    foregroundFluidLayer: {
                      fillStyle: "purple",
                      angularSpeed: 100,
                      maxAmplitude: 12,
                      frequency: 30,
                      horizontalSpeed: -150
                    },
                    backgroundFluidLayer: {
                      fillStyle: "pink",
                      angularSpeed: 100,
                      maxAmplitude: 9,
                      frequency: 30,
                      horizontalSpeed: 150
                    }
                  }
                });
        $("#labelPrecentase").show();
    }

    function DetailProject() {
        window.open('../DetailProject/View?ProjectId=10', '_blank');
    }
    function AssignProject() {
        window.open('../DetailProject/AssignProject?ProjectId=10', '_blank');
    }

</script>