﻿<script type="text/javascript">
    var State = '';
    var Table;
    var TableFileHandbookDetail;
    var cekListIdAttachment = '';
    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataHandbookDetails/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number", "visible":false },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Lihat Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Hapus Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "Nama", "name": "Nama" },
                            { responsivePriority: 4, "data": "Judul", "name": "Judul" },
                            { responsivePriority: 5, "data": "Deskripsi", "name": "Deskripsi" },
                            { responsivePriority: 6, "data": "ForKodeUnit", "name": "ForKodeUnit", "visible": true },
                            { responsivePriority: 7, "data": "Keyword", "name": "Keyword" },
                            //{
                            //    responsivePriority: 7, "data": "status", "name": "Status",
                            //    "render": function (data, type, full, meta) {
                            //        if (data == 'Aktif') {
                            //            return '<center><p class="mt-2 btn btn-block btn-primary disabled"><b>' + data + '</b></p></center>'
                            //        }
                            //        else {
                            //            return '<center><p class="mt-2 btn btn-block btn-danger disabled"><b>' + data + '</b></p></center>'
                            //        }
                            //    }
                            //},
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(3).search($('#txtJudulSearchParam').val().trim());
                        Table.columns(6).search($('#txtKeywordSearchParam').val().trim());

                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtNamaSearchParam').val("");
                        $('#txtJudulSearchParam').val("");
                        $('#txtKeywordSearchParam').val("");

                        Table.columns(2).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(3).search($('#txtJudulSearchParam').val().trim());
                        Table.columns(6).search($('#txtKeywordSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function LoadDataTableHandbookDetail(Id) {
        //if (TableTempPhoto != undefined) {
        //    TableTempPhoto.DataTable.destroy();
        //}
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableFileHandbookDetail = $('#TableFileHandbookDetail').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            url: '../DataHandbookDetails/LoadDataFileUpload',
                            type: "POST",
                            data: {
                                "Id": Id
                            },
                            //datatype: "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    //return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                    //    + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                    //    + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                    if (full.handbookDetailsId == -1) {
                                        return '<p class="mt-2 btn btn-danger disabled"><b>Temporary</b></p>'
                                    }
                                    else {
                                        return '<center><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete-handbook" onclick="DeleteHandbookFile(' + full.id + ')" style="margin-right:auto; margin-left:auto; display:block" data-toggle="tooltip" title="Delete File Handbook"><i class="fa fa-trash btnDelete"></i></a></center></div>'
                                    }
                                }
                            },
                            { responsivePriority: 3, "data": "namaFile", "name": "namaFile" },
                            { responsivePriority: 4, "data": "path", "name": "path" },
                            { responsivePriority: 5, "data": "uploader", "name": "uploader" },
                            { responsivePriority: 6, "data": "uploadedTimeString", "name": "uploadedTimeString" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //TableTempPhoto.on('order.dt search.dt', function () {
                    //    TableTempPhoto.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    //        cell.innerHTML = i + 1;
                    //    });
                    //}).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function LoadDataTableHandbookDetailView(Id) {
        //if (TableTempPhoto != undefined) {
        //    TableTempPhoto.DataTable.destroy();
        //}
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableFileHandbookDetail = $('#TableFileHandbookDetail').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            url: '../DataHandbookDetails/LoadDataFileUpload',
                            type: "POST",
                            data: {
                                "Id": Id
                            },
                            //datatype: "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "id", "orderable": false, "visible": false, "render": function (data, type, full, meta) {
                                    //return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                    //    + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                    //    + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                    if (full.handbookDetailsId == -1) {
                                        return '<p class="mt-2 btn btn-danger disabled"><b>Temporary</b></p>'
                                    }
                                    else {
                                        return '<center><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete-handbook" onclick="DeleteHandbookFile(' + full.id + ')" style="margin-right:auto; margin-left:auto; display:block" data-toggle="tooltip" title="Delete File Handbook"><i class="fa fa-trash btnDelete"></i></a></center></div>'
                                    }
                                }
                            },
                            { responsivePriority: 3, "data": "namaFile", "name": "namaFile" },
                            {
                                responsivePriority: 4, "data": "path", "name": "path", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<a href="' + full.path +'" class="btn btn-small btn-block btn-facebook" id="button-download" onclick="Download(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Download" download><i class="fa fa-download btnDownload"></i></a>'
                                }
                            },
                            { responsivePriority: 5, "data": "uploader", "name": "uploader" },
                            { responsivePriority: 6, "data": "uploadedTimeString", "name": "uploadedTimeString" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //TableTempPhoto.on('order.dt search.dt', function () {
                    //    TableTempPhoto.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    //        cell.innerHTML = i + 1;
                    //    });
                    //}).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

        function Download(Id) {
            debugger;
            $.ajax({
                url: '',
                type: 'POST',
                dataType: 'JSON',
                success: function (hasil) {
                    if (hasil != "") {
                        window.open(hasil.path, '_blank')
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
    }

    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../DataHandbookDetails/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        ValidationForm();
                        LoadDataTableHandbookDetail();

                        $('.dropify').dropify({

                        });

                        //$('#KodeUnit').hide();
                        $("#KodeUnit").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        $("input[name=IsActive][value=True]").prop("checked", true);

                        $("input[type=radio][name=ForAllUnit][value=True]").prop("checked", true);
                        $('#KodeUnitForm').hide();

                        $('#DeskripsiText').summernote({
                            placeholder: 'Masukkan Deskripsi',
                            tabsize: 2,
                            height: 300,
                            toolbar: [
                                ['style', ['style']],
                                ['fontsize', ['fontsize']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });

                        $("input[type=radio][name=ForAllUnit]").on('change', function () {
                            debugger;

                            if ($('input[name="ForAllUnit"]:checked').val() == "False") {
                                $('#KodeUnitForm').show();
                            }
                            else {
                                $('#KodeUnitForm').hide();
                            }
                        });
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "id": Id }
                    UrlPartialView = '../DataHandbookDetails/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;


                        ValidationForm();
                        LoadDataTableHandbookDetail(Id);

                        $('.dropify').dropify({

                        });

                        var dataKodeOutlet = $('#KodeUnitValue').val();
                        SearchData = { "Ids": dataKodeOutlet }
                        UrlPartialView = "../Utility/GetDropdownUnitById";
                        LoadPartialViewData(UrlPartialView, function (data) {
                            $.each(data, function (index, value) {
                                $('#KodeUnit').append('<option value="' + value.kodeOutlet + '" selected>' + value.text + '</option>');
                            });
                        }, SearchData);

                        $("#KodeUnit").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        $('#DeskripsiText').summernote({
                            placeholder: 'Masukkan Deskripsi',
                            tabsize: 2,
                            height: 300,
                            toolbar: [
                                ['style', ['style']],
                                ['fontsize', ['fontsize']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });

                        if ($('input[name="ForAllUnit"]:checked').val() == "False") {
                            $('#KodeUnitForm').show();
                        } else {
                            $('#KodeUnitForm').hide();
                        }
                        
                        $("input[type=radio][name=ForAllUnit]").on('change', function () {
                            if ($('input[name="ForAllUnit"]:checked').val() == "False") {
                                $('#KodeUnitForm').show();
                            }
                            else {
                                $('#KodeUnitForm').hide();
                            }
                        });

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "id": Id }
                    UrlPartialView = '../DataHandbookDetails/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        LoadDataTableHandbookDetailView(Id);

                        $('.dropify').dropify({

                        });

                        var dataKodeOutlet = $('#KodeUnitValue').val();
                        SearchData = { "Ids": dataKodeOutlet }
                        UrlPartialView = "../Utility/GetDropdownUnitById";
                        LoadPartialViewData(UrlPartialView, function (data) {
                            $.each(data, function (index, value) {
                                $('#KodeUnit').append('<option value="' + value.id + '" selected>' + value.text + '</option>');
                            });
                        }, SearchData);

                        $("#KodeUnit").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        $('#DeskripsiText').summernote({
                            placeholder: 'Masukkan Deskripsi',
                            tabsize: 2,
                            height: 300,
                            toolbar: [
                                ['style', ['style']],
                                ['fontsize', ['fontsize']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });

                        if ($('input[name="ForAllUnit"]:checked').val() == "False") {
                            $('#KodeUnitForm').show();
                        } else {
                            $('#KodeUnitForm').hide();
                        }

                        $('#DeskripsiText').summernote('disable');
                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                HandbookId: {
                    required: true
                },
                Judul: {
                    required: true
                },
                Deskripsi: {
                    required: true
                },
                Keyword: {
                    required: true
                },
                ForAllUnit: {
                    required: true
                },
                //ForKodeUnit: {
                //    required: true
                //},
                OrderBy: {
                    required: true
                },
                IsActive: {
                    required: true
                }
                //FileHandbookDetail: {
                //    required: true
                //}
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                var KodeUnits = $("#KodeUnit").val().join();
                var HandbookId = $("#HandbookDetailId").val();
                if (State == "edit") {
                    url = '../DataHandbookDetails/SubmitEdit';
                }
                else {
                    url = '../DataHandbookDetails/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize() + "&KodeUnits=" + KodeUnits + "&listHandbookDetailId=" + HandbookId,
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else if (d == "KodeUnitNotInputted") {
                                        NotifikasiError("Error", "Kode Unit Wajib Diisi!")
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });

        $('#btnUploadDataHD').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            $valid = true;
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataHandbookDetails/ImportFile';

                var idAttachment = $("#ListHandbookAttachmentId").val();
                var fd = $("#FormData")[0];
                //cekListIdAttachment = idAttachment;
                //fd.append("ListIdAttachment", idAttachment);
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                TableFileHandbookDetail.ajax.reload();

                                //TableTemp.DataTable.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }

    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../DataHandbookDetails/Delete',
                            type: 'POST',
                            data: { "Id": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else if ("IdNull") {
                                    NotifikasiError("Error", "Data gagal dihapus, Id Null!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!");
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }
    //--***************************************END DELETE ******************************************//

    function DeleteHandbookFile(id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

        swal({
            title: "Konfirmasi",
            text: "Apakah Anda yakin ingin menghapus data ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '../DataHandbookDetails/DeleteHandbookFile',
                        type: 'POST',
                        data: { "Id": id },
                        success: function (d) {
                            if (d == "") {
                                NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                TableFileHandbookDetail.ajax.reload();
                            } else if ("IdNull") {
                                NotifikasiError("Error", "Data gagal dihapus, Id Null!");
                            } else {
                                NotifikasiError("Error", "Data gagal dihapus!");
                            }
                            Table.draw();
                        }
                    });
                }
            });
        return false;
    }

</script>