﻿@model PortalBranchNav.Models.dbBranchNav.TblUnit

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form id="FormData">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Tipe <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.Type, (IEnumerable<SelectListItem>)ViewBag.TypeUnit, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Kode <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nama <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nama Singkat <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Parent </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.ParentId, (IEnumerable<SelectListItem>)ViewBag.ParentUnit, "--Silahkan pilih--", new { @class = "form-control js-example-placeholder-multiple js-states", @style = "width:90%" })
                                <a href="#" class="btn btn-danger" onclick="ClearDropdown('ParentId')"><i class="fa fa-times"></i> Clear</a>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group row m-b-15" id="DivDropdownWilayah" style="display:none">
                            <label class="col-md-3 col-form-label">Wilayah <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.WilayahId, (IEnumerable<SelectListItem>)ViewBag.Wilayah, "--Silahkan pilih--", new { @class = "form-control js-example-placeholder-multiple js-states", @style = "width:90%" })
                                </div>
                            </div>
                        </div>*@
                    @*<div class="form-group row m-b-15" id="DivDropdownDivisi" style="display:none">
                            <label class="col-md-3 col-form-label">Divisi <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.DivisiId, (IEnumerable<SelectListItem>)ViewBag.Divisi, "--Silahkan pilih--", new { @class = "form-control js-example-placeholder-multiple js-states", @style = "width:90%" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Alamat </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @value = "", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>*@
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Email </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Status <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.RadioButtonFor(model => model.IsActive, true, new { })&nbsp; Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.IsActive, false, new { })&nbsp; Tidak Aktif &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
