﻿@model PortalBranchNav.Models.dbBranchNav.TblMasterClient

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <p><b>Import Data</b></p>
                <div class="col-md-12">
                    <form id="FormImport">
                        @Html.AntiForgeryToken()
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Periode <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-prepend datepicker-trigger" id="Priode" name="Priode" data-date-format="dd/mm/yyyy">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="PeriodeImport" name="PeriodeImport" class="datepicker-here form-control" , autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:15px;">
                            <input type="file" id="file" name="file" class="dropify" />
                        </div>
                        <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportData">Import</a>
                    </form>
                  
                </div>
                <hr />
                <div class="row">
                    <table id="TableTemp" class="display nowrap" style="max-width:98%;overflow-x: auto;position: sticky;">
                        <thead class="border">
                            <tr class="border">
                                <th style="max-width:25px">No</th>
                                <th style="max-width:13%">Aksi</th>
                                <th><center>Kode Outlet</center></th>
                                <th><center>Nama Unit</center></th>
                                <th><center>Tahun</center></th>
                                <th><center>Rating Kinerja</center></th>
                                <th><center>Rating Pengelola Resiko</center></th>
                                <th><center>Rating Gabungan</center></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmit">Simpan</a>
            </div>
        </div>
    </div>
</div>
