﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Branch Navigation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/plugin/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/plugin/Login_v1/css/main.css">
    <!--===============================================================================================-->
    <style>
        .wrap-login100 {
            width: 960px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px 100px 0px 95px;
        }
        .container-login100 {
            width: 100%;
            min-height: 100vh;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background: gray;
            /* background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0); */
            background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
            background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
            /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
        }
        .login100-form-btn {
            background-color:teal;
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="height:500px;">
                <div class="login100-pic">
                    @*<img src="~/img/LogoBNI.png" style="padding-top:130px;" />*@
                    <h1>BRANCH NAVIGATION</h1>
                    <p>Portal Aplikasi Cabang</p>
                    @*<img src="~/plugin/Login_v1/images/img-01.png" alt="IMG">*@
                </div>
                @using (Html.BeginForm("SubmitLogin", "Login", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", @style = "padding-top:50px;border-left: groove;padding-left: 25px;width: 50%;" }))
                {
                <span class="login100-form-title" style="margin-top: -80px;">
                    @*<h3>PORTAL</h3>*@
                    <img src="~/img/LogoBNI.png" style="margin-bottom:30px;width:150px;" />
                    <h3>HALAMAN LOGIN</h3>
                    <p>@*Aplikasi Informasi Cabang*@</p>
                </span>

                    <div class="wrap-input100 validate-input" data-validate="Masukkan 5 digit Npp">
                        <input class="input100" type="text" name="Username" placeholder="Masukkan 5 Digit Npp">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Masukkan password">
                        <input class="input100" type="password" name="Password" id="Password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1" style="color:red">
                            @ViewBag.ErrorMessage
                        </span>
                    </div>

                    <div class="text-center p-t-136">

                    </div>
                }

            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/plugin/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/plugin/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/plugin/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/plugin/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/plugin/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/plugin/Login_v1/js/main.js"></script>

</body>
</html>