﻿@model PortalBranchNav.ViewModels.DataBNICLoud
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Reject</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="FormDataReject" style="padding-top:20px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Comment<span class="labelMandatory">*</span></label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextAreaFor(m => m.komentarReject, new { @class = "form-control" })
                </div>
            </div>
        </div>


    </form>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-sm btn-warning" id="SubmitReject">Reject</a>
</div>