﻿<script type="text/javascript">
    var State = '';
    var Table;
    var TableLog;
    $(document).ready(function () {
        LoadDataTable();
        ValidationFormTanggal()
        $.fn.datepicker.language['en'] = {
            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Des'],
            today: "Hari Ini",
            clear: "Clear",
            dateFormat: "d/mm/yyyy"
        };
        $('#txtPeriodeSearchParam').datepicker({
            language: 'en',
            autoclose: true
        });
        $("#txtJns_LaporanSearchParam").select2({
        });
        $("#txtDvs_PenggunaSearchParam").select2({
        });
        var Role_Id = '@ViewBag.Role_Id';
    });

    $(document).ready(function () {
        LoadDataTable();
        ValidationFormTanggal()
        $.fn.datepicker.language['en'] = {
            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Des'],
            today: "Hari Ini",
            clear: "Clear",
            dateFormat: "d/mm/yyyy"
        };
        $('#txtEndDateParam').datepicker({
            language: 'en',
            autoclose: true
        });
        $("#txtJns_LaporanSearchParam").select2({
        });
        $("#txtDvs_PenggunaSearchParam").select2({
        });
        var Role_Id = '@ViewBag.Role_Id';
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../BNICloud_Pusat/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [

                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 7, "data": "laporanStatusName", "name": "laporanStatusName",
                                "render": function (data, type, full, meta) {
                                    return '<div class="ml-2 btn-group align-self-center"><a href="javascript:void(0)" class="ml-2 mt-2 btn btn-small btn-block btn-facebook" id="button-download" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Process"><i class="fa fa-download btnDownload"></i></a>'

                                }
                            },
                            {
                                responsivePriority: 5, "data": "laporanStatusName", "name": "laporanStatusName",
                                "render": function (data, type, full, meta) {
                                    return '<a href="javascript:void(0)" class="btn btn-small btn-block btn-facebook" id="button-delete" onclick="ViewLog(' + full.id + ')" data-toggle="tooltip" title="Log Report"><i class="fa fa-eye btnView"></i></a></div>'

                                }
                            },
                            { responsivePriority: 3, "data": "jenisLaporanName", "name": "jenisLaporanName" },
                            { responsivePriority: 4, "data": "divisiPenggunaName", "name": "divisiPenggunaName" },
                            { responsivePriority: 5, "data": "unitName", "name": "unitName" },
                            { responsivePriority: 6, "data": "createdTimeString", "name": "createdTimeString", "visible": false },
                            { responsivePriority: 6, "data": "createdTimeString", "name": "createdTimeString", "visible": false },
                            { responsivePriority: 5, "data": "laporanStatusName", "name": "laporanStatusName" },
                            { responsivePriority: 7, "data": "createdByName", "name": "createdByName" }



                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    
                    $('#BtnSearch').click(function () {
                        debugger;
                        Table.columns(2).search($('#txtJns_LaporanSearchParam').val().trim());
                        Table.columns(6).search($('#txtDvs_PenggunaSearchParam').val().trim());
                        Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                        Table.columns(5).search($('#txtEndDateParam').val().trim());
                        
                        


                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtJns_LaporanSearchParam').val(null).trigger('change');
                        $('#txtDvs_PenggunaSearchParam').val(null).trigger('change');
                        $('#txtPeriodeSearchParam').val("");
                        $('#txtEndDateParam').val("");
                        //$('#txtKewenanganSearchParam').val("");

                        Table.columns(2).search($('#txtJns_LaporanSearchParam').val().trim());
                        Table.columns(6).search($('#txtDvs_PenggunaSearchParam').val().trim());
                        Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                        Table.columns(5).search($('#txtEndDateParam').val().trim());
                        
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


    }

    function ValidationFormTanggal() {
        var $validator = $("#FormTanggal").validate({
            ignore: [],
            rules: {
                PeriodeSearchParam: {
                    required: true
                },
                EndDateImportData: {
                    required: true
                }
            },
            messages: {
                PeriodeSearchParam: "Jika ingin mencari tanggal Dari Harap Diisi dulu !",
                EndDateImportData: "Jika ingin mencari tanggal Sampai Harap Diisi dulu !",

            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }

        });

        $('#BtnSearch').click(function () {
            var url = '';
            var $valid = $("#FormTanggal").valid();
            if (!$valid) {
                //alert("False");
                //$validator.focusInvalid();
                return false;
            } else {
                return true
            }
        })
    }


    //function Create() {
    //    ShowModal('bd-example-modal-lg');
    //    State = "create";
    //    UrlPartialView = '../BNICloud/Create';
    //    //Cek session masih aktif atau tidak
    //    $.ajax({
    //        type: 'GET',
    //        url: '../Login/CekSession',
    //        success: function (hasil) {
    //            if (hasil == true) {
    //                LoadPartialViewData(UrlPartialView, function (data) {
    //                    //ShowModal('bd-example-modal-lg');
    //                    $('#DivContentBody').hide();
    //                    document.getElementById("DivFormBody").innerHTML = data;

    //                    ValidationForm();
    //                    $("#Jns_Laporan").select2({
    //                        tags: true
    //                    });
    //                    $("#Dvs_Pengguna").select2({
    //                        tags: true
    //                    });
    //                    $('.dropify').dropify();
    //                });
    //            }
    //            else {
    //                window.location.href = "../Login/Login?a=true";
    //            }
    //        }
    //    });
    //}



    //--***************************************START EDIT ******************************************//
    //function Edit(Id) {
    //    debugger;
    //    ShowModal('bd-example-modal-lg');
    //    debugger;
    //    $.ajax({
    //        type: 'GET',
    //        url: '../Login/CekSession',
    //        success: function (hasil) {
    //            if (hasil == true) {
    //                //ShowModal('bd-example-modal-lg');

    //                State = "edit";
    //                SearchData = { "id": Id }
    //                UrlPartialView = '../BNICloud/Edit';
    //                LoadPartialViewData(UrlPartialView, function (data) {

    //                    $('#DivContentBody').hide();
    //                    document.getElementById("DivFormBody").innerHTML = data;
    //                    ValidationForm();

    //                    $("#Jns_Laporan").select2({
    //                        tags: true
    //                    });
    //                    $("#Dvs_Pengguna").select2({
    //                        tags: true
    //                    });
    //                    $('.dropify').dropify();
    //                }, SearchData);
    //            }
    //            else {
    //                window.location.href = "../Login/Login?a=true";
    //            }
    //        }
    //    });

    //}
    //--***************************************END EDIT ******************************************//

    //Export Excel
    function Export() {
        debugger;
        $.ajax({
            url: "../BNICloud_Pusat/ExportExcelLaporan",
            type: "POST",
            dataType: 'json',
            success: function (hasil) {
                console.log(hasil);
                debugger;
                if (hasil != "") {
                    window.open(hasil.path, '_blank');
                }
            }
        });
    }

     function ExportLog(LaporanId) {
        console.log(LaporanId);
        debugger;
        $.ajax({
            url: '@Url.Content("~/BNICloud_Pusat/ExportExcelLogLaporan/?LaporanId=")' + LaporanId,
            type: "POST",
            dataType: 'json',
            success: function (hasil) {
                console.log(hasil);
                if (hasil != "") {
                    window.open(hasil.path, '_blank');
                }
            }
        });
    }

    //--***************************************START VIEW LOG ******************************************//
    function ViewLog(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "id": Id }
                    UrlPartialView = '../BNICloud_Pusat/ViewLog';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModalPopUp(data);

                        //$('#DivContentBody').hide();
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        LoadDataTableLog(Id);
                    }, SearchData);


                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function LoadDataTableLog(data) {
        debugger;
        if (TableLog != undefined) {
            TableLog.destroy();
        }
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableLog = $('#TableLog').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../BNICloud_Pusat/ViewLogLoadData/?Id=' + data,
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [

                            { responsivePriority: 1, "data": "number", "name": "number" },
                            { responsivePriority: 2, "data": "createdTime", "name": "createdTime" },
                            //{ responsivePriority: 3, "data": "namaLaporan", "name": "namaLaporan" },
                            { responsivePriority: 3, "data": "aktivitas", "name": "aktivitas" },
                            { responsivePriority: 4, "data": "dilakukanOleh", "name": "dilakukanOleh" }



                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    //$('#BtnSearch').click(function () {
                    //    Table.columns(2).search($('#txtJns_LaporanSearchParam').val().trim());
                    //    Table.columns(3).search($('#txtDvs_PenggunaSearchParam').val().trim());
                    //    Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                    //    Table.columns(5).search($('#txtEndDateParam').val().trim());
                    //    //Table.columns(5).search($('#txtKewenanganSearchParam').val().trim());
                    //    //Table.columns(2).search($('#txtTypeSearchParam').val().trim());
                    //    //Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                    //    //Table.columns(4).search($('#txtInduxSearchParam').val().trim());
                    //    //Table.columns(7).search($('#txtKewenanganSearchParam').val().trim());


                    //    //hit search ke server
                    //    Table.draw();
                    //});


                    //---------------------Function untuk reset data pencarian----------------//
                    //$('#BtnClearSearch').click(function () {
                    //    $('#txtJns_LaporanSearchParam').val(null).trigger('change');
                    //    $('#txtDvs_PenggunaSearchParam').val(null).trigger('change');
                    //    $('#txtPeriodeSearchParam').val("");
                    //    $('#txtEndDateParam').val("");
                    //    //$('#txtKewenanganSearchParam').val("");

                    //    Table.columns(2).search($('#txtJns_LaporanSearchParam').val().trim());
                    //    Table.columns(3).search($('#txtDvs_PenggunaSearchParam').val().trim());
                    //    Table.columns(4).search($('#txtPeriodeSearchParam').val().trim());
                    //    Table.columns(5).search($('#txtEndDateParam').val().trim());
                    //    //Table.columns(5).search($('#txtKewenanganSearchParam').val().trim());
                    //    //hit search ke server
                    //    Table.draw();
                    //});

                    TableLog.columns.adjust().responsive.recalc();
                    //TableLog.DataTable.destroy();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function DownloadLog(Id) {
        browser.downloads.download({ url: "http://192.168.131.85/BranchNav_FileExport_LogLaporan/2022/1/DataLogLaporan_RYKun.xls" })
    }


    //--***************************************END VIEW LOG ******************************************//




    //--***************************************START VIEW ******************************************//
    function View(Id) {
        //ShowModal('bd-example-modal-lg');

        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "id": Id }
                    UrlPartialView = '../BNICloud_Pusat/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModalPopUp(data);

                        //$('#DivContentBody').hide();
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        console.log(data);
                        @*$.ajax({
                            type: 'GET',
                            url: '../BNICloud_Pusat/ViewDataLaporan/?id=' + Id,
                            success: function (data) {
                                /do some thing in second function/
                                //console.log(data.laporanStatusId);
                                if (data.laporanStatusId == 1) {
                                    $("#BtnReject").prop("disabled", true);
                                } else {
                                    $("#BtnReject").prop("disabled", false);
                                }
                               
                            },
                        });*@
                        $.ajax({
                            type: 'GET',
                            url: '../Login/CekRole',
                            success: function (data) {
                                console.log(data);
                                ///do some thing in second function/
                                //console.log(data.laporanStatusId);
                                if (data == 14) {
                                    $("#BtnDownload").prop("disabled", false);
                                    $("#BtnReject").prop("disabled", true);
                                    $.ajax({
                                        type: 'GET',
                                        url: '../BNICloud_Pusat/ViewDataLaporan/?id=' + Id,
                                        success: function (data) {
                                            ///do some thing in second function/
                                            ////console.log(data.laporanStatusId);
                                            //if (data.laporanStatusId == 1) {
                                            //    $("#BtnReject").prop("disabled", true);
                                            //} else {
                                            //    $("#BtnReject").prop("disabled", false);
                                            //}

                                        },
                                    });
                                } else if (data == 15) {
                                    $("#BtnDownload").prop("disabled", false);
                                    $("#BtnReject").prop("disabled", true);
                                    $.ajax({
                                        type: 'GET',
                                        url: '../BNICloud_Pusat/ViewDataLaporan/?id=' + Id,
                                        success: function (data) {
                                            /do some thing in second function/
                                            //console.log(data.laporanStatusId);
                                            if (data.laporanStatusId == 1) {
                                                $("#BtnReject").prop("disabled", true);
                                            } else {
                                                $("#BtnReject").prop("disabled", false);
                                            }

                                        },
                                    });
                                } else {
                                    $("#BtnDownload").prop("disabled", false);
                                    $("#BtnReject").prop("disabled", false);
                                    $.ajax({
                                        type: 'GET',
                                        url: '../BNICloud_Pusat/ViewDataLaporan/?id=' + Id,
                                        success: function (data) {
                                            ///do some thing in second function/
                                            ////console.log(data.laporanStatusId);
                                            //if (data.laporanStatusId == 1) {
                                            //    $("#BtnReject").prop("disabled", true);
                                            //} else {
                                            //    $("#BtnReject").prop("disabled", false);
                                            //}

                                        },
                                    });
                                }
                               
                            },
                        });
                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);


                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function BtnDownload(Id) {
        debugger;
        console.log(Id)
        $.ajax({
            url: '@Url.Content("~/BNICloud_pusat/GetDownload/?Id=")' + Id,
            type: 'POST',
            dataType: 'json',
            success: function (hasil) {
                console.log(hasil);
                if (hasil != "") {
                    //Coba setelah publish yang (a href download)
                    //BackDraft();

                    window.open(hasil, '_blank');
                    //$('#BtnReject').prop('disabled', false);
                    //State = "view";
                    //SearchData = { "id": Id }
                    //UrlPartialView = '../BNICloud_pusat/GetDownload';
                    //LoadPartialViewData(UrlPartialView, function (data) {

                    //    $('#BtnReject').prop('disabled', false);

                    //}, SearchData);
                }
            }
        });
    }


    function BtnReject(Id) {
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    State = "view";
                    SearchData = { "id": Id }
                    UrlPartialView = '../BNICloud_Pusat/Reject';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        ShowModalPopUp(data);
                        ValidationFormReject();
                        //$('#DivContentBody').hide();


                        //$("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function ValidationFormReject() {
        debugger;
        //Untuk validasi form
        var $validator = $("#FormDataReject").validate({
            ignore: [],
            rules: {
                komentarReject: {
                    required: true
                }
            },
            messages: {
                komentarReject: "Harap isi field ini terlebih dahulu"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#SubmitReject').click(function () {
            debugger;
            var url = '';
            var $valid = $("#FormDataReject").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {

                swal({
                    title: "Konfirmasi",
                    text: "Apakah Anda yakin Upload Laporan tersebut?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            debugger;
                            url = '../BNICLoud_Pusat/SubmitReject';

                            var fd = $("#FormDataReject")[0];
                            $.ajax(
                                {
                                    url: url,
                                    data: new FormData(fd),
                                    mimeType: "multipart/form-data",
                                    processData: false,
                                    contentType: false,
                                    type: "POST",
                                    success: function (data) {
                                        if (data == "") {
                                            document.getElementById("FormDataReject").reset();
                                            HideModalPopUp();
                                            BackDraft();
                                            NotifikasiSukses("Sukses", "Upload Dokumen Berhasil Dilakukan!");
                                            Table.draw();
                                            //LoadDataTableTemp();
                                            //TableTemp.ajax.reload();


                                            //setTimeout(function () {
                                            //    location.href = "../DataProject/Index"
                                            //}, 1000);
                                        }
                                        else {
                                            NotifikasiError("Error", data)
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        swal("error", error, "warning");
                                    }
                                }
                            );
                        }
                    });
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Jns_Laporan: {
                    required: true
                },
                Dvs_Pengguna: {
                    required: true
                },
                file: {
                    required: true
                }
            },
            messages: {
                Jns_Laporan: "Harap isi field ini terlebih dahulu",
                Dvs_Pengguna: "Harap isi field ini terlebih dahulu",
                file: "Silahkan pilih file terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            debugger;
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {

                swal({
                    title: "Konfirmasi",
                    text: "Apakah Anda yakin Upload Laporan tersebut?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            debugger;
                            url = '../BNICLoud/SubmitCreate';

                            var fd = $("#FormData")[0];
                            $.ajax(
                                {
                                    url: url,
                                    data: new FormData(fd),
                                    mimeType: "multipart/form-data",
                                    processData: false,
                                    contentType: false,
                                    type: "POST",
                                    success: function (data) {
                                        if (data == "") {
                                            BackDraft();
                                            NotifikasiSukses("Sukses", "Upload Dokumen Berhasil Dilakukan!");
                                            Table.draw();
                                            //LoadDataTableTemp();
                                            //TableTemp.ajax.reload();


                                            //setTimeout(function () {
                                            //    location.href = "../DataProject/Index"
                                            //}, 1000);
                                        }
                                        else {
                                            NotifikasiError("Error", data)
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        swal("error", error, "warning");
                                    }
                                }
                            );
                        }
                    });
            }
        });
    }

    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../PengaturanLookup/Delete',
                            type: 'POST',
                            data: { "Ids": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }

    function ValidationFormImport() {
        //Untuk validasi form
        var $validator = $("#FormImport").validate({
            ignore: [],
            rules: {
                file: {
                    required: true
                }
            },
            messages: {
                file: "Silahkan pilih file terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#btnImportDataSewaATM').click(function () {
            var url = '';
            var $valid = $("#FormImport").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataSewaATM/ImportFile';

                var fd = $("#FormImport")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();

                                Table.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }
    //--***************************************END DELETE ******************************************//
    function BackDraft1() {
        $('#DivContentBody').show();
        document.getElementById("DivFormBody").innerHTML = "";
    }
</script>