﻿@model PortalBranchNav.ViewModels.DataBNICLoud
@*<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">View</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="FormData" style="padding-top:20px;">
        @Html.AntiForgeryToken()
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Nama Laporan<span class="labelMandatory">*</span></label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.laporanName, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Nama", @autofocus = "autofocus" })
                </div>
            </div>
        </div>
        <div class="form-group row m-b-15">
            <label class="col-md-3 col-form-label">Jenis Laporan<span class="labelMandatory">*</span></label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.jenisLaporanName, new { @class = "form-control", @value = "", @autocomplete = "off", @placeholder = "Masukkan Nama", @autofocus = "autofocus" })

                </div>
            </div>
        </div>
        
    </form>
</div>
<div class="modal-footer">
    <a href="@Url.Action("GetDownload", "BNICloud_Pusat", new { data = ViewBag.Download })" class="btn btn-sm btn-primary" onclick="BtnDownload(@ViewBag.Id)" id="BtnDownload" download="download">Download</a>
    <button href="javascript:;" class="btn btn-sm btn-warning" onclick="BtnReject(@ViewBag.Id)" id="BtnReject" disabled="disabled">Reject</button>
</div>*@

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="headerSearch">
                View
            </div>
            <div class="card-body">
                <form id="FormData">
                    @Html.AntiForgeryToken()
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Nama Laporan <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.laporanName, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-form-label">Jenis Laporan <span class="labelMandatory">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.jenisLaporanName, new { @class = "form-control", @value = "", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button href="javascript:void(0)" download class="btn btn-sm btn-primary" onclick="BtnDownload(@ViewBag.id)" id="BtnDownload" disabled="disabled">Download</button>
                <button href="javascript:;" class="btn btn-sm btn-warning" onclick="BtnReject(@ViewBag.Id)" id="BtnReject" disabled="disabled">Reject</button>
                <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
            </div>
        </div>
    </div>
</div>