﻿@section styles{
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="~/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugin/air-datepicker-master/dist/css/datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugin/dropify-master/dist/css/dropify.min.css" rel="stylesheet" />
    <style>
        .dataTables_wrapper {
            zoom: 0.9 !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #3f6ad8;
        }

        .select2-container .select2-selection--single {
            height: 35px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-top: 5px;
            color: #495057;
            /*border: 1px solid #ced4da;*/
        }

        .input-group {
            margin-bottom: 5px;
        }

        select[name=Table_length] {
            height: 35px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: white;
            border: 1px solid teal;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            height: 22px;
        }
    </style>
}
@*<div class="app-main__outer">*@
    <div class="app-main__inner">

        @*<div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-cloud-upload icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>
                        BNI Cloud
                        <div class="page-title-subheading">
                            Log Report
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        @*<div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card" id="cardParameterSearch">

                    <h5 class="float-left ml-3 mt-3">Periode</h5>

                    <div class="card-body">
                        <div class="col-lg-6 float-left">
                            <form class="">
                                <div class="column">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="">Jenis Laporan</label>
                                            <div class="input-group">
                                                @Html.DropDownList("Jns_Laporan", (IEnumerable<SelectListItem>)ViewBag.JenisLaporan, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%", id = "txtJns_LaporanSearchParam" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="">Divisi Pengguna</label>
                                            <div class="input-group">
                                                @Html.DropDownList("Dvs_Pengguna", (IEnumerable<SelectListItem>)ViewBag.DivisiPengguna, "-Silahkan pilih-", new { @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%", id = "txtDvs_PenggunaSearchParam" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 float-right">
                            <form id="FormTanggal" class="">
                                <div class="column">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="">Dari Tanggal</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend datepicker-trigger" id="Priode" name="Priode" data-date-format="dd/mm/yyyy">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar-alt"></i>
                                                    </div>
                                                </div>
                                                <input type="text" id="txtPeriodeSearchParam" name="PeriodeSearchParam" data-date-format="dd/mm/yyyy" data-multiple-dates-separator=" - " class="datepicker-here form-control" , autocomplete="off" required />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="">Sampai Tanggal</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend datepicker-trigger" id="EndDate" name="EndDate" data-date-format="dd/mm/yyyy">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar-alt"></i>
                                                    </div>
                                                </div>
                                                <input type="text" id="txtEndDateParam" name="EndDateImportData" data-date-format="dd/mm/yyyy" data-multiple-dates-separator=" - " class="datepicker-here form-control" , autocomplete="off" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="mr-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearch"><i class="fa fa-search"></i>Cari</a>
                                <a href="javascript:void(0)" class="ml-2 btn btn-danger pull-right" id="BtnClearSearch"><i class="fa fa-times"></i> Bersihkan</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="row" style="padding-top:20px;">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="headerSearch">
                        Log Report
                    </div>
                    <div class="card-body">
                        <a href="javascript:void(0)" class="mt-2 btn btn-success" style="margin-left: 10px; color: whitesmoke" onclick="ExportLog(@ViewBag.Id)"><i class="fa fa-file-export"></i> Export </a>
                        <table id="TableLog" class="display nowrap" style="width:100%">

                            <thead>
                                <tr>
                                    <th style="max-width:25px">No</th>
                                    <th>Tanggal</th>
                                    <th>Aktifitas</th>
                                    <th>Dilakukan Oleh</th>
                                    @*<th>Download Oleh</th>
                    <th>Status</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        @*<a href="@ViewBag.Download" download class="btn btn-sm btn-primary" onclick="BtnDownload(@ViewBag.id)" id="BtnDownload">Download</a>*@
                        @*<button href="javascript:;" class="btn btn-sm btn-primary" onclick="DownloadLog(@ViewBag.id)" id="BtnReject">Download</button>*@
                        <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
@*</div>*@




@section scripts{
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="~/plugin/select2/dist/js/select2.min.js"></script>
    <script src="~/plugin/air-datepicker-master/dist/js/datepicker.js"></script>
    <script src="~/plugin/dropify-master/dist/js/dropify.min.js"></script>
    @Html.Partial("_Script")

}
