﻿
@{
    ViewData["Title"] = "Pengaturan Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <style>
        .dataTables_wrapper {
            zoom: 0.9 !important;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #3f6ad8;
        }

        .select2-container .select2-selection--single {
            height: 35px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-top: 5px;
            color: #495057;
            /*border: 1px solid #ced4da;*/
        }

        .input-group {
            margin-bottom: 5px;
        }

        select[name=Table_length] {
            height: 35px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: white;
            border: 1px solid teal;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            height: 22px;
        }
    </style>
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-hammer icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>
                        Pengaturan Lookup
                        <div class="page-title-subheading">
                            Manajemen data Lookup
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivContentBody">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="main-card mb-3 card" id="cardParameterSearch">
                        <div class="card-body">
                            <form class="">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Tipe</label>
                                            <input name="city" id="txtTipeSearchParam" type="text" class="form-control" placeholder="Masukkan Tipe">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Nama</label>
                                            <input name="city" id="txtNamaSearchParam" type="text" class="form-control" placeholder="Masukkan Nama">
                                        </div>
                                    </div>

                                </div>
                                <a href="javascript:void(0)" class="mt-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearch"><i class="fa fa-search"></i> Cari</a>
                                <a href="javascript:void(0)" class="mt-2 btn btn-danger pull-right" id="BtnClearSearch"><i class="fa fa-times"></i> Bersihkan</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="headerSearch">
                            Data Lookup
                        </div>
                        <div class="card-body">
                            <a href="javascript:void(0)" class="mt-2 btn btn-success" style="margin-left:10px;" onclick="Create()"><i class="fa fa-plus"></i> Tambah Data</a>
                            <table id="Table" class="display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        @*<th style="max-width:25px">No</th>*@
                                        <th style="max-width:13%">Aksi</th>
                                        <th>Tipe</th>
                                        <th>Nama</th>
                                        <th>Nilai</th>
                                        <th>Urutan</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivFormBody">
        </div>
    </div>
</div>




@section scripts{
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    @Html.Partial("_Script")

}

