﻿@model PortalBranchNav.ViewModels.DataRevitalisasiEditDataDetails_ViewModels
<form id="FormData" style="padding-top:20px;">
    <div class="row" style="padding-top:20px;" id="CatatanDesainModal">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Create Catatan Desain
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Catatan Desain <span class="labelMandatory">*</span></label>
                        <div>
                            @Html.TextAreaFor(m => m.CatatanDesain, new { @id="idCatatanDesain", @cols = 40, @rows = 10, @class = "form-control", @value = "", @autocomplete = "off" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Tutup</a>
                        <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="BtnSubmitCatatanDesain()">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    @Html.Partial("_Script")

}
