﻿@model PortalBranchNav.ViewModels.DataRevitalisasiEditDataDetails_ViewModels

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <p><b>Input Detail Data Revitalisasi</b></p>
                <div class="col-md-12">
                    <form id="FormDetailData">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.Detail.Id)
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Periode <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-prepend datepicker-trigger" id="Periode" name="Periode" data-date-format="dd/mm/yyyy">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(m => m.Detail.TanggalString, new { @class = "datepicker-here form-control", id = "TanggalPeriodeDetail", @value = "", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Pegawai <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.Detail.PegawaiId, (IEnumerable<SelectListItem>)ViewBag.dataPegawai, "- Silahkan Pilih -", new { id = "dataPegawai", @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Unit <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.Detail.UnitId, (IEnumerable<SelectListItem>)ViewBag.dataUnit, "- Silahkan Pilih -", new { id = "dataUnit", @class = "js-example-placeholder-multiple js-states form-control", @style = "width:100%;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Catatan <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextAreaFor(m => m.Detail.Catatan, new { id = "dataCatatan", @class = "form-control", @value = "", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-15">
                            <label class="col-md-3 col-form-label">Progress(%) <span class="labelMandatory">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Detail.ProgressString, new { @id = "idProgress", @class = "form-control right-align-input", style = "text-align:right;", @value = "", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:15px;">
                            <label class="col-md-3 col-form-label">Upload Foto Design</label>
                            <input type="file" id="FileDetailPhoto" name="FileDetailPhoto" class="dropify" />
                        </div>
                        <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportDataPhoto" onclick="InputCatatanDesain()">Import</a>

                        <table id="TableTempPhoto" style="max-width:98%; word-wrap:break-word">
                            @*overflow-x: auto;position: sticky;*@
                        <thead class="border">
                            <tr class="border">
                                <th style="max-width:25px">No</th>
                                <th style="max-width:13%">Aksi</th>
                                <th><center>Nama File</center></th>
                                <th><center>Path</center></th>
                                <th><center>Catatan</center></th>
                                <th><center>Uploader</center></th>
                                <th><center>Tanggal Upload</center></th>
                                @*
                                    <th><center>Estimasi Biaya</center></th>*@
                                @*
                                    <th><center>Status Progress</center></th>
                                    <th><center>Detail Progress</center></th>*@
                                @*
                                    <th><center>No Dokumen</center></th>
                                    <th><center>UIC</center></th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div style="margin-bottom:15px;">
                        <label class="col-md-3 col-form-label">Upload Foto Pelaksanaan</label>
                        <input type="file" id="FileDetailDesain" name="FileDetailDesain" class="dropify" />
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success btn-block" id="btnImportDataDesain" onclick="InputCatatanPelaksanaan()">Import</a>

                    <table id="TableTempDesain" style="width:100%; word-wrap:break-word">@*overflow-x: auto;position: sticky;*@
                        <thead class="border">
                            <tr class="border">
                                <th style="max-width:25px">No</th>
                                <th style="max-width:13%">Aksi</th>
                                <th><center>Nama File</center></th>
                                <th><center>Path</center></th>
                                <th><center>Catatan</center></th>
                                <th><center>Uploader</center></th>
                                <th><center>Tanggal Upload</center></th>
                                @*
                                <th><center>Estimasi Biaya</center></th>*@
                                @*
                                <th><center>Status Progress</center></th>
                                <th><center>Detail Progress</center></th>*@
                                @*
                                <th><center>No Dokumen</center></th>
                                <th><center>UIC</center></th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>

            </div>
            <hr />
            @*<div class="row">
            *@



            @*
                </div>*@
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-sm btn-white" onclick="BackDraft()">Tutup</a>
            <a href="javascript:;" class="btn btn-sm btn-primary" id="BtnSubmitDetail">Simpan</a>
        </div>
    </div>
</div>
</div>
