﻿
<script type="text/javascript">
    var State = '';
    var Table;
    var TableTemp;
    var TableTempPhoto;
    var TableTempDesain;
    var IdRevitalisasi;
    var fdDesain;
    var fdPelaksanaan;
    $(document).ready(function () {

        LoadDataTable();
        
        //(function () {
        //    $('.table-responsive').on('shown.bs.dropdown', function (e) {
        //        debugger;
        //        var $table = $(this),
        //            $menu = $(e.target).find('.dropdown-menu'),
        //            tableOffsetHeight = $table.offset().top + $table.height(),
        //            menuOffsetHeight = $menu.offset().top + $menu.outerHeight(true);

        //        if (menuOffsetHeight > tableOffsetHeight)
        //            $table.css("padding-bottom", menuOffsetHeight - tableOffsetHeight);
        //    });

        //    $('.table-responsive').on('hide.bs.dropdown', function () {
        //        debugger;
        //        $(this).css("padding-bottom", 0);
        //    })
        //})();
        //$('.table-responsive').on('show.bs.dropdown', function () {
        //    $('.table-responsive').css("overflow", "inherit");
        //});

        //$('.table-responsive').on('hide.bs.dropdown', function () {
        //    $('.table-responsive').css("overflow", "auto");
        //})

        //$('body').on('show.bs.dropdown', '.table-responsive', function () { $(this).css("overflow", "visible"); }).on('hide.bs.dropdown', '.table-responsive', function () { $(this).css("overflow", "auto"); });
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataRevitalisasi/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "id", "orderable": false, "visible": true,"render": function (data, type, full, meta) {
                                    return '<div class="dropdown d-inline-block">'
                                        + '<button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-outline-primary">Aksi</button>'
                                        + '<div class="dropdown-menu" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-8px, 33px, 0px);">'
                                        + '<button type="button" class="dropdown-item" onclick="InputDetail(' + full.id + ')">Input Detail Revitalisasi</button>'
                                        + '<button type="button" class="dropdown-item" onclick="Edit(' + full.id + ')">Edit Data</button>'
                                        + '<button type="button" class="dropdown-item" onclick="View(' + full.id + ')">Tampil Data</button>'
                                        + '<button type="button" class="dropdown-item" onclick="Delete(' + full.id + ')">Delete Data</button>'
                                        + '</div>'
                                        + '</div>'
                                    //aria-haspopup="false" aria-expanded="true"
                                    // style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-8px, 33px, 0px);"
                                    //return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                    //    + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                    //    + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "kodeOutlet", "name": "kodeOutlet" },
                            { responsivePriority: 4, "data": "namaUnit", "name": "namaUnit", "visible": false },
                            { responsivePriority: 5, "data": "namaProyek", "name": "namaProyek" },
                            { responsivePriority: 6, "data": "jenisProyek", "name": "jenisProyek" },
                            //{ responsivePriority: 8, "data": "StatusProgress", "name": "StatusProgress" },
                            //{ responsivePriority: 9, "data": "DetailProgress", "name": "DetailProgress" },
                            { responsivePriority: 7, "data": "periode", "name": "periode" },
                            { responsivePriority: 8, "data": "noDokumen", "name": "noDokumen" },
                            { responsivePriority: 9, "data": "uic", "name": "uic" },
                            { responsivePriority: 10, "data": "estimasiBiaya", "name": "estimasiBiaya", "className": "text-right", render: $.fn.dataTable.render.number('.', ',', 0, '') }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaUnitSearchParam').val().trim());
                        Table.columns(4).search($('#txtNamaProyekSearchParam').val().trim());


                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtKodeSearchParam').val("");
                        $('#txtNamaUnitSearchParam').val("");
                        $('#txtNamaProyekSearchParam').val("");

                        Table.columns(2).search($('#txtKodeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaUnitSearchParam').val().trim());
                        Table.columns(4).search($('#txtNamaProyekSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    
                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    
    function Import() {
        UrlPartialView = '../DataRevitalisasi/Import';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        $('.dropify').dropify({

                        });
                        LoadDataTableTemp();
                        ValidationFormImport();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };

                        CreateContentTanggalMonthYears("PeriodeImport");
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function LoadDataTableTemp() {

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                 TableTemp = $('#TableTemp').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: false, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        //dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../DataRevitalisasi/LoadDataTemp',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                     columns: [
                         { responsivePriority: 1, "data": null, "name": null },
                         {
                             responsivePriority: 2,
                             "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                 return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                     + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                     + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                             }
                         },
                         { responsivePriority: 3, "data": "KodeOutlet", "name": "KodeOutlet" },
                         { responsivePriority: 4, "data": "NamaUnit", "name": "NamaUnit" },
                         { responsivePriority: 5, "data": "NamaProyek", "name": "NamaProyek" },
                         { responsivePriority: 6, "data": "JenisProyek", "name": "JenisProyek" },
                         { responsivePriority: 7, "data": "EstimasiBiaya", "name": "EstimasiBiaya", render: $.fn.dataTable.render.number('.', ',', 0, '') },
                         { responsivePriority: 8, "data": "StatusProgress", "name": "StatusProgress" },
                         { responsivePriority: 9, "data": "DetailProgress", "name": "DetailProgress" },
                         { responsivePriority: 10, "data": "NoDokumen", "name": "NoDokumen" },
                         { responsivePriority: 11, "data": "Uic", "name": "Uic" }
                     ],
                        "order": [[1, "desc"]]
                    });

                    TableTemp.on('order.dt search.dt', function () {
                        TableTemp.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function LoadDataTableTempPhoto(Id) {
        //if (TableTempPhoto != undefined) {
        //    TableTempPhoto.DataTable.destroy();
        //}
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableTempPhoto = $('#TableTempPhoto').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            url: '../DataRevitalisasi/LoadDataPhoto',
                            type: "POST",
                            data: { "Id": Id },
                            //datatype: "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "id", "orderable": false, "visible": false, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "fileName", "name": "fileName" },
                            { responsivePriority: 4, "data": "path", "name": "path" },
                            { responsivePriority: 5, "data": "catatan", "name": "catatan" },
                            { responsivePriority: 6, "data": "uploader", "name": "uploader" },
                            { responsivePriority: 7, "data": "uploadedTimeString", "name": "uploadedTimeString" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //TableTempPhoto.on('order.dt search.dt', function () {
                    //    TableTempPhoto.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    //        cell.innerHTML = i + 1;
                    //    });
                    //}).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    
    function LoadDataTableTempDesain(Id) {
        //if (TableTempPhoto != undefined) {
        //    TableTempPhoto.DataTable.destroy();
        //}
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableTempDesain = $('#TableTempDesain').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        //responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        scrollX: true,
                        autoWidth: false,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            url: '../DataRevitalisasi/LoadDataDesain',
                            type: "POST",
                            data: { "Id": Id },
                            //datatype: "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            "decimal": ",",
                            "thousands": ".",
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "number", "name": "number" },
                            {
                                responsivePriority: 2,
                                "data": "id", "name": "id", "orderable": false, "visible": false, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "fileName", "name": "fileName" },
                            { responsivePriority: 4, "data": "path", "name": "path" },
                            { responsivePriority: 5, "data": "catatan", "name": "catatan" },
                            { responsivePriority: 6, "data": "uploader", "name": "uploader" },
                            { responsivePriority: 7, "data": "uploadedTimeString", "name": "uploadedTimeString" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //TableTempPhoto.on('order.dt search.dt', function () {
                    //    TableTempPhoto.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    //        cell.innerHTML = i + 1;
                    //    });
                    //}).draw();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../DataRevitalisasi/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        ValidationForm();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };
                        $("input[name=IsActive][value=True]").prop("checked", true);
                        CreateContentTanggalMonthYears("TanggalPeriode");
                        InputNominalUang("EstimasiBiaya");
                        //DropdownTypeClietnServerSide('TypeClientId', 100, false);
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataRevitalisasi/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        //DropdownTypeClietnServerSide('TypeClientId', 100, false);
                        ValidationForm();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };
                        //$("input[name=IsActive][value=True]").prop("checked", true);
                        CreateContentTanggalMonthYears("TanggalPeriode");
                        InputNominalUang("EstimasiBiaya");
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START EDIT DETAIL DATA******************************************//
    function dataUnitListChange(jumlahRowPerPage, isMultiple) {
        //$("dataUnit").attr("disabled", false);
        var dropdownUnit = $("#dataUnit").select2({
            ajax: {
                url: '@Url.Action("getUnit", "DataRevitalisasi")',
                dataType: 'json',
                delay: 250,
                multiple: isMultiple,
                allowClear: true,
                data: {
                    selectedPegawaiString: $('#dataPegawai option:selected').text(),
                    selectedPegawaiId: $('#dataPegawai').val(),
                    DataRevitalisasiId: IdRevitalisasi
                },
                processResults: function (data, params) {
                    //debugger
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * jumlahRowPerPage) < data.total_count
                        }
                    };
                },
                cache: true
                //type: "POST"
            },
            placeholder: '-Silahkan pilih-',
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 0,
        });
        var select2Instance = $('#dataUnit').data('select2');
        select2Instance.on('results:message', function (params) {
            this.dropdown._resizeDropdown();
            this.dropdown._positionDropdown();
        });
    }

    function InputDetail(Id) {
        debugger;
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataRevitalisasi/EditDetailData';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        $('.dropify').dropify({

                        });
                        
                        LoadDataTableTempPhoto(Id);
                        LoadDataTableTempDesain(Id);
                        ValidationFormDetail();
                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            today: 'Today',
                            clear: 'Clear',
                            dateFormat: 'M yyyy',
                            firstDay: 0
                        };

                        $('#dataCatatan').summernote({
                            placeholder: 'Masukkan Deskripsi Catatan',
                            tabsize: 2,
                            height: 300,
                            toolbar: [
                                ['style', ['style']],
                                ['fontsize', ['fontsize']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });

                        
                        CreateContentTanggalMonthYears("TanggalPeriodeDetail");
                        DropdownUnitServerSide('dataUnit', '100', false, '');
                        InputNominalUang("idProgress");
                        //$("#dataPegawai").change(function () {
                        //    document.getElementById('dataUnit').readonly = false;
                        //    dataUnitListChange(100, false);
                        //});
                        $('#dataPegawai').on('change', function () {
                            dataUnitListChange(100, false);
                            
                            //if (this.value == "3") {
                            //    $('#DivDropdownWilayah').show();
                            //    $('#DivDropdownDivisi').hide();
                            //}
                            //else {
                            //    $('#DivDropdownWilayah').hide();
                            //    $('#DivDropdownDivisi').show();
                            //}
                        });
                        IdRevitalisasi = Id;
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }

    function InputCatatanDesain() {
        debugger;
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');
                    fdDesain = $("#FormDetailData")[0];

                    SearchData = { }
                    UrlPartialView = '../DataRevitalisasi/FormCreateCatatanDesain';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        var modalbody = $('#LoadContent');
                        modalbody.html(data);
                        $('#ModalForm').modal({
                            backdrop: 'static',
                            keyboard: false
                        });

                        //$('#idCatatanDesain').summernote({
                        //    placeholder: 'Masukkan Deskripsi Catatan Desain',
                        //    tabsize: 2,
                        //    height: 300,
                        //    toolbar: [
                        //        ['style', ['style']],
                        //        ['fontsize', ['fontsize']],
                        //        ['font', ['bold', 'underline', 'clear']],
                        //        ['color', ['color']],
                        //        ['para', ['ul', 'ol', 'paragraph']],
                        //        ['table', ['table']],
                        //        ['insert', ['link', 'picture', 'video']],
                        //        ['view', ['fullscreen', 'codeview', 'help']]
                        //    ]
                        //});

                        //ValidationForm();
                        //$("input[name=IsActive][value=True]").prop("checked", true);
                        //$("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function InputCatatanPelaksanaan() {
        debugger;
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');
                    fdPelaksanaan = $("#FormDetailData")[0];

                    SearchData = {}
                    UrlPartialView = '../DataRevitalisasi/FormCreateCatatanPelaksanaan';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        var modalbody = $('#LoadContent');
                        modalbody.html(data);
                        $('#ModalForm').modal({
                            backdrop: 'static',
                            keyboard: false
                        });

                        //$('#idCatatanPelaksanaan').summernote({
                        //    placeholder: 'Masukkan Deskripsi Catatan Pelaksanaan',
                        //    tabsize: 2,
                        //    height: 300,
                        //    toolbar: [
                        //        ['style', ['style']],
                        //        ['fontsize', ['fontsize']],
                        //        ['font', ['bold', 'underline', 'clear']],
                        //        ['color', ['color']],
                        //        ['para', ['ul', 'ol', 'paragraph']],
                        //        ['table', ['table']],
                        //        ['insert', ['link', 'picture', 'video']],
                        //        ['view', ['fullscreen', 'codeview', 'help']]
                        //    ]
                        //});

                        //ValidationForm();
                        //$("input[name=IsActive][value=True]").prop("checked", true);
                        //$("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END EDIT DETAIL DATA******************************************//

    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../DataRevitalisasi/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//

    function BtnSubmitCatatanDesain() {
        debugger;
        var url = '../DataRevitalisasi/ImportFilePhoto';

        //var fd = $("#FormData")[0];
        var desain = document.getElementById("idCatatanDesain").value;
        var fd = new FormData(fdDesain);
        fd.append("CatatanDesain", desain);
        $.ajax(
            {
                url: url,
                data: fd,
                mimeType: "multipart/form-data",
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data == "") {
                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                        //LoadDataTableTemp();
                        TableTempPhoto.ajax.reload();

                        //TableTemp.DataTable.draw();
                        //setTimeout(function () {
                        //    location.href = "../DataProject/Index"
                        //}, 1000);
                    }
                    else {
                        NotifikasiError("Error", data)
                    }
                },
                error: function (xhr, status, error) {
                    swal("error", error, "warning");
                }
            });
    }

    function BtnSubmitCatatanPelaksanaan() {
        debugger;
        url = '../DataRevitalisasi/ImportFileDesain';

        //var fd = $("#FormData")[0];
        var pelaksanaan = document.getElementById("idCatatanPelaksanaan").value;
        var fd = new FormData(fdPelaksanaan);
        fd.append("CatatanPelaksanaan", pelaksanaan);
        $.ajax(
            {
                url: url,
                data: fd,
                mimeType: "multipart/form-data",
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data == "") {
                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                        //LoadDataTableTemp();
                        TableTempDesain.ajax.reload();

                        //TableTemp.DataTable.draw();
                        //setTimeout(function () {
                        //    location.href = "../DataProject/Index"
                        //}, 1000);
                    }
                    else {
                        NotifikasiError("Error", data)
                    }
                },
                error: function (xhr, status, error) {
                    swal("error", error, "warning");
                }
            });
    }

    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                //KodeOutlet: {
                //    required: true
                //},
                ListUnit: {
                    required: true
                },
                TanggalPeriode: {
                    required: true
                },
                NamaProyek: {
                    required: true
                },
                JenisProyek: {
                    required: true
                },
                EstimasiBiaya: {
                    required: true
                },
                NoDokumen: {
                    required: true
                },
                Uic: {
                    required: true
                },
                statusProject: {
                    required: true
                }
                //Visible: {
                //    required: true
                //}
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../DataRevitalisasi/SubmitEdit';
                }
                else {
                    url = '../DataRevitalisasi/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }

    //Untuk Validasi Form data Detail Revitalisasi
    function ValidationFormDetail() {
        //Untuk validasi form
        var $validator = $("#FormDetailData").validate({
            ignore: [],
            rules: {
                "Detail.TanggalString": {
                    required: true
                },
                "Detail.PegawaiId": {
                    required: true
                },
                "Detail.UnitId": {
                    required: true
                },
                "Detail.Catatan": {
                    required: true
                },
                "Detail.Progress": {
                    required: true
                }
                //Visible: {
                //    required: true
                //},
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmitDetail').click(function () {
            var url = '';
            var $valid = $("#FormDetailData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                //if (State == "edit") {
                //    url = '../DataRevitalisasi/SubmitEditDetail';
                //}
                //else {
                //    url = '../DataMasterClient/SubmitCreate';
                //}
                url = '../DataRevitalisasi/SubmitEditDetail';
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormDetailData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        //TableTempPhoto.ajax.reload();
                                        //TableTempPhoto.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });

        $('#BtnSubmitCatatanDesainNotUsed').click(function () {
            debugger;
            var url = '';
            //var $valid = $("#FormDetailData").valid();
            var $valid = true;
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataRevitalisasi/ImportFilePhoto';

                //var fd = $("#FormDetailData")[0];
                fdDesain.append("CatatanDesain", $('#idCatatanDesain').val)
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fdDesain),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                TableTempPhoto.ajax.reload();

                                //TableTemp.DataTable.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });

        $('#btnImportDataDesainNotUsed').click(function () {
            debugger;
            var url = '';
            var $valid = $("#FormDetailData").valid();
            var $valid = true;
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataRevitalisasi/ImportFileDesain';

                var fd = $("#FormDetailData")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                TableTempDesain.ajax.reload();

                                //TableTemp.DataTable.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }



    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../DataRevitalisasi/Delete',
                            type: 'POST',
                            data: { "Id": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else if (d == "Idnull") {
                                    NotifikasiError("Error", "Data tidak ditemukan!")
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }
    //--***************************************END DELETE ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationFormImport() {
        //Untuk validasi form
        var $validator = $("#FormImport").validate({
            ignore: [],
            rules: {
                file: {
                    required: true
                }
            },
            messages: {
                file : "Silahkan pilih file terlebih dahulu !"
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.is(':file')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        //$.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#btnImportData').click(function () {
            var url = '';
            var $valid = $("#FormImport").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../DataRevitalisasi/ImportFile';

                var fd = $("#FormImport")[0];
                $.ajax(
                    {
                        url: url,
                        data: new FormData(fd),
                        mimeType: "multipart/form-data",
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            if (data == "") {
                                NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                //LoadDataTableTemp();
                                TableTemp.ajax.reload();

                                //TableTemp.DataTable.draw();
                                //setTimeout(function () {
                                //    location.href = "../DataProject/Index"
                                //}, 1000);
                            }
                            else {
                                NotifikasiError("Error", data)
                            }
                        },
                        error: function (xhr, status, error) {
                            swal("error", error, "warning");
                        }
                    }
                );
            }
        });
    }



</script>