﻿
@{
    ViewData["Title"] = "Data BRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link href="~/plugin/air-datepicker-master/dist/css/datepicker.css" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/datatables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/plugin/DataTables-1.10.20/media/css/responsive.dataTables.min.css")" rel="stylesheet" />
    <link href="~/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugin/dropify-master/dist/css/dropify.min.css" rel="stylesheet" />
    <link href="~/plugin/summernote/summernote-lite.min.css" rel="stylesheet" />

    <style>
        .fab {
            position: fixed;
            bottom: 20px;
            right: 20px;
            clip-path: circle();
            height: 40px;
            width: 40px;
            z-index: 999;
            box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
        }

        .dataTables_wrapper {
            zoom: 0.9 !important;
            max-width: 1050px;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #3f6ad8;
        }

        .select2-container .select2-selection--single {
            height: 35px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-top: 5px;
            color: #495057;
            /*border: 1px solid #ced4da;*/
        }

        .input-group {
            margin-bottom: 5px;
        }

        select[name=Table_length] {
            height: 35px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: white;
            border: 1px solid teal;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            height: 22px;
        }

        /*Select2 ReadOnly Start*/
        select[readonly].select2-hidden-accessible + .select2-container {
            pointer-events: none;
            touch-action: none;
        }

            select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
                background: #eee;
                box-shadow: none;
            }

            select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
                display: none;
            }

        /*Select2 ReadOnly End*/
    </style>

}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <h5><b>Data Revitalisasi</b></h5>
        </div>
        <hr />
        <div id="DivContentBody">
            <div class="row">
                <div class="col-lg-3">
                    <center>
                        <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%;
                    z-index: 1;width:95%" id="btnShowParameterSearch" onclick="ShowParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                            Tampilkan Parameter Pencarian
                        </button>
                        <button class="mb-3 mr-3 btn btn-success btn-sm btn-block" style="align-content: center;margin-left: 3%;
                    z-index: 1;display:none;width:95%;" id="btnHideParameterSearch" onclick="HideParameterSearch('btnShowParameterSearch','btnHideParameterSearch','cardParameterSearch')">
                            Sembunyikan Parameter Pencarian
                        </button>
                    </center>
                </div>
                <div class="col-lg-12">
                    <div class="main-card mb-3 card" style="display:none" id="cardParameterSearch">

                        <div class="card-body">

                            <form class="">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Kode Outlet</label>
                                            <input name="city" id="txtKodeSearchParam" type="text" class="form-control" placeholder="Masukkan Kode">
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none">
                                        <div class="position-relative form-group">
                                            <label class="">Nama Unit</label>
                                            <input name="city" id="txtNamaUnitSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Unit">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Nama Proyek</label>
                                            <input name="city" id="txtNamaProyekSearchParam" type="text" class="form-control" placeholder="Masukkan Nama Proyek">
                                        </div>
                                    </div>

                                </div>
                                <a href="javascript:void(0)" class="mt-2 btn btn-success pull-right" style="margin-left:10px;" id="BtnSearch">Cari</a>
                                <a href="javascript:void(0)" class="mt-2 btn btn-danger pull-right" id="BtnClearSearch">Bersihkan</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px;">
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="headerSearch">
                            Manajemen Data Revitalisasi
                        </div>
                        <div class="card-body">
                            <a href="javascript:void(0)" class="mt-2 btn btn-success" style="margin-left:10px;" onclick="Create()">Tambah Data</a>
                            <a href="javascript:void(0)" class="mt-2 btn btn-success" style="margin-left:10px; display:none" onclick="Import()">Import Data Revitalisasi</a>
                            @*<div class="table-responsive">*@
                            <table id="Table" class="display" style="width:100%">
                                @*overflow-x: auto;position: sticky;"*@
                                <thead class="border">
                                    <tr class="border">
                                        <th style="max-width:25px">No</th>
                                        <th style="max-width:13%">Aksi</th>
                                        <th><center>Kode Outlet</center></th>
                                        <th><center>Nama Unit</center></th>
                                        <th><center>Nama Proyek</center></th>
                                        <th style="max-width:13%"><center>Jenis Proyek</center></th>                                     
                                        @*<th><center>Status Progress</center></th>
                                            <th><center>Detail Progress</center></th>*@
                                        <th style="max-width:13%"><center>Periode</center></th>
                                        <th><center>No Dokumen</center></th>
                                        <th><center>UIC</center></th>
                                        <th><center>Estimasi Biaya</center></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            @*</div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivFormBody">
        </div>
    </div>
</div>




@section scripts{
    <script src="~/plugin/air-datepicker-master/dist/js/datepicker.min.js"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugin/DataTables-1.10.20/media/js/dataTables.responsive.min.js")"></script>
    <script src="~/plugin/select2/dist/js/select2.min.js"></script>
    <script src="~/plugin/dropify-master/dist/js/dropify.min.js"></script>
    <script src="~/plugin/summernote/summernote-lite.min.js"></script>

    @Html.Partial("_Script")

}

